<!-- -----------------------------------------------------------------
-
- Copyright (C) 2019 OSGeo
-
- This program is free software: you can redistribute it and/or modify
- it under the terms of the GNU General Public License as published by
- the Free Software Foundation, either version 3 of the License, or
- (at your option) any later version.
-
- This program is distributed in the hope that it will be useful,
- but WITHOUT ANY WARRANTY; without even the implied warranty of
- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
- GNU General Public License for more details.
-
- You should have received a copy of the GNU General Public License
- along with this program. If not, see <http://www.gnu.org/licenses/>.
-
---------------------------------------------------------------------- -->

{% load i18n avatar_tags %}
{% load static from staticfiles %}
{% load account socialaccount %}
{% load base_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta Http-Equiv="Cache-Control" Content="no-cache">
    <meta Http-Equiv="Pragma" Content="no-cache">
    <meta Http-Equiv="Expires" Content="0">
    <meta Http-Equiv="Pragma-directive: no-cache">
    <meta Http-Equiv="Cache-directive: no-cache">

    <title>HCMGIS OpenData - Geospatial Open Data Sharing Platform</title>
    <meta name="description" content="HCMGIS OpenData - Geospatial Open Data Sharing Platform">
    <meta name="keywords" content="Open Data,OpenData,opendata,open data">

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />

    {% block head %}

      {% if DEBUG_STATIC %}
        <link href="{% static "lib/css/jquery.dataTables.css" %}?v={{ VERSION }}" rel="stylesheet" />
        <link href="{% static "lib/css/select2.css" %}?v={{ VERSION }}" rel="stylesheet"/>
        <link href="{% static "lib/css/bootstrap.css" %}?v={{ VERSION }}" rel="stylesheet"/>
        <link href="{% static "lib/css/bootstrap-treeview.css" %}?v={{ VERSION }}" rel="stylesheet"/>
        <link href="{% static "lib/css/jquery-ui.theme.css" %}?v={{ VERSION }}" rel="stylesheet"/>
        <link href="{% static "lib/css/jquery-ui.structure.css" %}?v={{ VERSION }}" rel="stylesheet"/>
        <link href="{% static "lib/css/bootstrap-treeview.css" %}?v={{ VERSION }}" rel="stylesheet"/>
      {% else %}
        <link href="{% static "lib/css/assets.min.css" %}?v={{ VERSION }}" rel="stylesheet"/>
      {% endif %}
        <!-- Custom home opendata -->
        <link href="{% static "home/css/bootstrap.min.css" %}" rel="stylesheet" />
        <link href="{% static "home/css/animate.css" %}" rel="stylesheet" />
        <link href="{% static "home/css/owl.carousel.min.css" %}" rel="stylesheet" />
        <link href="{% static "home/css/themify-icons.css" %}" rel="stylesheet" />
        <link href="{% static "home/css/flaticon.css" %}" rel="stylesheet" />
        <link href="{% static "home/css/magnific-popup.css" %}" rel="stylesheet" />
        <link href="{% static "home/fontawesome/css/all.min.css" %}" rel="stylesheet" />
        <link href="{% static "home/css/style.css" %}" rel="stylesheet" />
        <link href="{% static "home/css/search.css" %}" rel="stylesheet" />
        <!--End custom -->
        
        <link href="{% static "geonode/css/ext-compatibility.css" %}?v={{ VERSION }}" rel="stylesheet" />
        <link href="{% static "geonode/css/ux-all.css" %}?v={{ VERSION }}" rel="stylesheet" />
        <link href="{% static "geonode/css/base_custom.css" %}" rel="stylesheet" />

        <link rel='stylesheet' id='cookie-law-info-css'  href="{% static "geonode/css/cookie-law-info/cookie-law-info-public.css" %}?v={{ VERSION }}" type='text/css' media='all' />
        <link rel='stylesheet' id='cookie-law-info-gdpr-css'  href="{% static "geonode/css/cookie-law-info/cookie-law-info-gdpr.css" %}?v={{ VERSION }}" type='text/css' media='all' />

        <script src="{% static "home/vue/vue.js" %}"></script>
        <script src="{% static "home/vue/vue-lazyload.js" %}"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159114891-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-159114891-1');
        </script>


        <style type="text/css">[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}</style>
        <style type="text/css">
        /* Additional styles by custom themes */
        {% if custom_theme.body_color %}
        body {
          background: {{ custom_theme.body_color }};
          {% if custom_theme.body_text_color %}
          color: {{ custom_theme.body_text_color }};
          {% endif %}
        }
        {% endif %}

        {% if custom_theme.navbar_color %}
        .home .navbar-inverse , .navbar-inverse {
          background-color: {{ custom_theme.navbar_color }};
        }
        {% endif %}

        {% if custom_theme.navbar_text_color %}
        .navbar-inverse .navbar-nav > li > a {
          color: {{ custom_theme.navbar_text_color }};
          font-weight: 600;
          padding-top: 25px;
          padding-bottom: 25px;
        }
        {% endif %}

        {% if custom_theme.navbar_text_hover %}
        .navbar-inverse .navbar-nav > li > a:hover {
          background-color: {{ custom_theme.navbar_text_hover }};
        }
        {% endif %}

        {% if custom_theme.navbar_text_hover_focus %}
        .navbar-inverse .navbar-nav > .open > a,
        .navbar-inverse .navbar-nav > .open > a:hover,
        .navbar-inverse .navbar-nav > .open > a:focus {
          background-color: {{ custom_theme.navbar_text_hover_focus }};
        }
        {% endif %}

        {% if custom_theme.navbar_dropdown_menu %}
        .navbar-nav .dropdown-menu {
          background-color: {{ custom_theme.navbar_dropdown_menu }};
          border-top: 1px solid {{ custom_theme.navbar_dropdown_menu }};
        }
        {% endif %}

        {% if custom_theme.navbar_dropdown_menu_text %}
        .navbar-nav .dropdown-menu a {
          color: {{ custom_theme.navbar_dropdown_menu_text }};
        }
        {% endif %}

        {% if custom_theme.navbar_dropdown_menu_hover %}
        .navbar-nav .dropdown-menu li a:hover {
          background-color: {{ custom_theme.navbar_dropdown_menu_hover }};
          color: {{ custom_theme.navbar_dropdown_menu_text }};
        }
        {% endif %}

        {% if custom_theme.navbar_dropdown_menu_divider %}
        .navbar-nav .dropdown-menu .divider {
          background-color: {{ custom_theme.navbar_dropdown_menu_divider }};
        }
        {% endif %}

        {% if custom_theme.logo %}
        .navbar-brand {
          background-image: url({{ custom_theme.logo.url }});
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
        {% endif %}

        {% if custom_theme.jumbotron_color %}
        .home .jumbotron {
          background-color: {{ custom_theme.jumbotron_color }}
        }
        {% endif %}

        {% if custom_theme.jumbotron_title_color %}
        .home .jumbotron h1,
        .home .jumbotron h2,
        .home .jumbotron h3 {
          color: {{ custom_theme.jumbotron_title_color }}
        }
        {% endif %}

        {% if custom_theme.jumbotron_text_color %}
        .home .jumbotron p {
          color: {{ custom_theme.jumbotron_text_color }}
        }
        {% endif %}

        {% if custom_theme.jumbotron_welcome_hide %}
        .home .jumbotron .container {
          visibility: hidden;
        }
        {% endif %}

        {% if custom_theme.jumbotron_bg %}
        .home .jumbotron .container {
          position: relative;
          z-index: 1;
        }
        .home .jumbotron:after {
          content: "";
          background-image: url({{ custom_theme.jumbotron_bg.url }});
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          {% if not custom_theme.jumbotron_welcome_hide %}
          opacity: 0.5;
          {% endif %}
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          position: absolute;
          z-index: 0;
        }
        {% endif %}

        {% if custom_theme.copyright_color %}
        .footer-copyright {
          background-color: {{ custom_theme.copyright_color }};
        }
        {% endif %}

      </style>
      {% block extra_head %}
      {% endblock %}
    {% endblock %}
    <!--[if IE]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <style>
        #ieflag{
            display: block !important;
            height: 150px;
            text-align: center;
        }
      </style>
    <![endif]-->
    <link rel="search" type="application/opensearchdescription+xml" href="{{SITEURL}}catalogue/opensearch" title="{% trans "GeoNode Search" %}"/>

    <script>
        var siteUrl = '{{ SITEURL }}'.replace(/\/?$/, '/');
        var staticUrl = '{% static '' %}';
    </script>

    <script type="text/javascript">
      function thumbnailFeedbacks(data, status) {
        try {
          $("#_thumbnail_feedbacks").find('.modal-title').text(status);
          $("#_thumbnail_feedbacks").find('.modal-body').text(data);
          $("#_thumbnail_feedbacks").modal("show");
        } catch (err) {
          console.log(err);
        } finally {
          return true;
        }
      }
    </script>

  </head>

  <body class="{% block body_class %}{% endblock %}">
    <!-- Navbar -->
    {% block header %}<!--::menu part start::-->
    <header class="main_menu home_menu">
        <!-- <div class="header-area ">
          <div class="header-top black-bg d-none d-md-block">
              <div class="container">
                  <div class="row">
                      <div class="col-xl-6 col-md-6 col-lg-6">
                          <div class="header-contact">
                              <a href="#"><i class="fa fa-phone"></i>  Tel No. (+0283) 932 0963</a>
                              <a href="#"><i class="fa fa-envelope"></i> gis.skhcn@tphcm.gov.vn</a>
                          </div>
                      </div>
                      
                      <div class="col-xl-6 col-md-6 col-lg-6"> 
                          <div class="header-top-menu">
                              <nav>
                                <ul>
                                  {% if not user.is_authenticated and ACCOUNT_OPEN_SIGNUP %}
                                   <li><a href="{% url "account_signup" %}">{% trans "Register" %}</a></li>
                                  {% endif %}
                                  <li><a href="#">FAQ</a></li>
                                </ul>
                              </nav>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div> -->
         <div class="container">
             <div class="row">
                 <div class="col-lg-12">
                     <nav class="navbar navbar-expand-lg navbar-light">
                         <a class="navbar-brand" href="/" style="text-transform: none;margin-left: -30px;"> <img src="{{STATIC_URL}}home/img/logo.PNG" alt="logo"> </a>
                         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                             aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                             <span class="navbar-toggler-icon"></span>
                         </button>
                         <div class="collapse navbar-collapse main-menu-item" id="navbarNav">
                             <ul class="navbar-nav" style="white-space: nowrap;">

                                <li>
                                  <form id="search" action="{% url "search" %}" class="search-form">
                                      <div class="input-group" style="width: 300px;">
                                      {% if HAYSTACK_SEARCH %}
                                      <input id="search_input" type="text" placeholder="{% trans 'Search...' %}" class="form-control fa fa-search" name="q">
                                      {% else %}
                                      <input id="search_input" type="text" placeholder="{% trans 'Search...' %}" class="form-control" name="title__icontains">
                                      {% endif %}
                                      </div>
                                    </form>
                                </li>

                                {% block tabs %}
                                 <li class="nav-item" style="margin-top: 7px;">
                                     <a class="nav-link" href="{% url "layer_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Layers" %}</a>
                                 </li>
                                 <li class="nav-item" style="margin-top: 7px;">
                                     <a class="nav-link" href="{% url "maps_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Maps" %}</a>
                                 </li>
                                 <li class="nav-item" style="margin-top: 7px;">
                                     <a class="nav-link page-scroll" href="{% url "document_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Documents" %}</a>
                                 </li>
                                 <li class="nav-item dropdown" style="margin-top: 7px;">
                                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                         {% trans "Pages" %}
                                     </a>
                                     <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="https://pointcloud.hcmgis.vn/" target="_blank">HCMGIS PointCloud</a>
                                         <a class="dropdown-item" href="https://geotag.hcmgis.vn/" target="_blank">HCMGIS GeoTag</a>
                                         <a class="dropdown-item" href="https://geoevents.hcmgis.vn/" target="_blank">HCMGIS GeoEvents</a>
                                         <a class="dropdown-item" href="https://daotao.hcmgis.vn/" target="_blank">HCMGIS Elearning</a>
                                         <a class="dropdown-item" href="/msource/list-view/">HCMGIS SourceSharing</a>
                                     </div>
                                 </li>
                                 <li class="nav-item" style="margin-top: 7px;">
                                     <a class="nav-link" href="https://hcmgis.vn/contact-us/" target="_blank">{% trans "Contact us" %}</a>
                                 </li>
                                 {% endblock %}
                             </ul>

                             <ul class="nav navbar-nav navbar-right">
                                {% if user.is_authenticated %}
                                <li>
                                  <a href="#" class="dropdown-toggle avatar" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    {% autoescape off %}{% avatar user 42 %}{% endautoescape %}
                                    {% with full_name=user.first_name|add:' '|add:user.last_name %}
                                      {% if full_name.strip %}
                                        {{ full_name | truncatechars:20 }}
                                      {% else %}
                                        {{ user.username | truncatechars:20 }}
                                      {% endif %}
                                    {% endwith %}
                                    <i class="fa fa-angle-down fa-lg"></i>
                                  </a>
                                  <ul class="dropdown-menu">
                                    <li><a href="{{ user.get_absolute_url }}">{% trans "Profile" %}</a></li>
                                    <li><a href="{% url "recent-activity" %}">{% trans "Recent Activity" %}</a></li>
                                    {% if FAVORITE_ENABLED and user.is_authenticated %}
                                    <li><a href="{% url "favorite_list" %}">{% trans "Favorites" %}</a></li>
                                    {% endif %}
                                    <li><a href="{% url "messages_inbox" %}">{% trans "Inbox" %}</a></li>
                                    {% if user.is_superuser or user.is_staff %}
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{% url "admin:index" %}">{% trans "Admin" %}</a></li>
                                        {% if 'geonode.geoserver' in INSTALLED_APPS %}
                                        <li><a href="{{ OGC_SERVER.default.WEB_UI_LOCATION }}">GeoServer</a></li>
                                        {% endif %}
                                        {% if USE_MONITORING %}
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{% url "monitoring:index" %}">{% trans "Monitoring & Analytics" %}</a></li>
                                        {% endif %}
                                    {% endif %}
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{% url "help" %}">{% trans "Help" %}</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{{SITEURL}}account/logout/">{% trans "Log out" %}</a></li>
                                    </ul>
                                  </li>
                              {% else %}
                              <li><a href="#" data-toggle="modal" data-target="#SigninModal" role="button" >{% trans "Sign in" %} </a></li>
                                  {% endif %}
                                </ul>
                         </div>
                         

                     </nav>
                 </div>
             </div>
         </div>
     </header>
    <!--::menu part end::-->
    {% endblock header %}
    <!-- End of Navbar -->
  <div id="wrap">
    {% block middle %}
    <div class="container">
      {% include "_status_message.html" %}
      {% include "_announcements.html" %}
      {% include "_messages.html" %}
      {% block body_outer %}
      <div class="row">
        <div class="col-md-8">
        {% block body %}{% endblock %}
        </div>
        <div class="col-md-4">
        {% block sidebar %}{% endblock %}
        </div>
      </div>
      {% endblock %}
    </div>
    {% endblock middle %}

    {% block extra_mainbody %}
    {% endblock extra_mainbody %}

  </div>

  {% block monitoring %}
  {% endblock %}

  {% block footer %}
  <!--::footer_part start::-->
  <footer class="footer_part">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="single_footer_part">
                        <h4>HCMGIS</h4>
                        <p>{% trans "Center for Applied GIS of Ho Chi Minh City (HCMGIS) focuses on consulting, developing, training and transferring GIS solutions and applications in urban management, natural resources and environment, and economic-cultural-social development." %}</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="single_footer_part">
                        <h4>{% trans "QUICK LINK" %}</h4>
                        <ul class="list-unstyled">
                            <li><a href="https://hcmgis.vn/"> HCMGIS</a></li>
                            <li><a href="https://portal.hcmgis.vn/"> HCMGIS Portal</a></li>
                            <li><a href="https://maps.hcmgis.vn/maps"> HCMGIS Maps</a></li>
                            <li><a href="https://geosurvey.hcmgis.vn/"> HCMGIS GeoSurvey</a></li>
                            <li><a href="https://georeference.hcmgis.vn/"> HCMGIS GeoReference</a></li>
                            <li><a href="https://storymaps.hcmgis.vn/"> HCMGIS StoryMaps</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="single_footer_part">
                        <h4>{% trans "CONTACT" %}</h4>
                        <p>{% trans "Office: 244 Dien Bien Phu Street, Vo Thi Sau Ward, District 3, Ho Chi Minh City" %}</p>
                        <p>{% trans "Tel: (+84)283 9320963 – Fax: (+84)283 9320963" %}</p>
                        <p>Email: gis.skhcn@tphcm.gov.vn</p>
                    </div>
                </div>
           </div>
           <hr>
           <div class="row">
              <div class="col-sm-6 col-lg-6">
                 <div class="copyright_text">
                    <P>
                        <span>{% trans "© 2019" %} </span>
                        <a href="https://hcmgis.vn/" target="_blank"> HCMGIS</a>
                    </P>
                 </div>
              </div>
              <div class="col-sm-6 col-lg-6">
                 <div class="footer_icon">
                    <ul class="list-unstyled">
                       <li><a href="https://www.facebook.com/hcmgis/" class="single_social_icon" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                       <li><a href="https://twitter.com/hcmgis" class="single_social_icon" target="_blank"><i class="fab fa-twitter"></i></a></li>
                       <li><a href="https://www.linkedin.com/company/hcmgis/" class="single_social_icon" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                       <li><a href="https://www.youtube.com/channel/UCO6q72gcyv94q0xu-SQ_4jA" class="single_social_icon" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                 </div>
              </div>
           </div>
        </div>
     </footer>

  {% endblock footer %}


    <!-- Modal must stay outside the navbar -->
    {% if not user.is_authenticated %}
    <div class="modal fade" id="SigninModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans "Close" %}</span></button>
            <h4 class="modal-title" id="myModalLabel">{% trans "Sign in" %}</h4>
          </div>
          <form class="form-signin" role="form" action="{% url "account_login" %}?next={{ request.path }}" method="post">
            <div class="modal-body">
              {% csrf_token %}
              <!-- 
              {% get_providers as socialaccount_providers %}
              {% if socialaccount_providers %}
                  {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                  {% include "socialaccount/snippets/login_extra.html" %}
                <hr>
              {% endif %} -->
              <div class="form-group">
                <label for="id_username" class="sr-only">{% trans "Username" %}:</label>
                <input id="id_username" class="form-control" name="login" placeholder="{% trans "Username" %}" type="text" />
              </div>
              <div class="form-group">
                <label for="id_password" class="sr-only">{% trans "Password" %}:</label>
                <input id="id_password" class="form-control" name="password" placeholder="{% trans "Password" %}" type="password" autocomplete="off" />
              </div>
              <label class="checkbox">
                <input type="checkbox" /> {% trans "Remember Me" %}
              </label>
              <p>
                <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
              </p>
              <p>
                <a href="/account/signup/">{% trans "Do not have account? Register" %}</a>
              </p>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary btn-block">{% trans "Sign in" %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% endif %}
    <!-- End of Modal -->

    {% if DEBUG_STATIC %}
    <script src="{% static "lib/js/jquery.js" %}?v={{ VERSION }}"></script>
    <script src="{% static "lib/js/jquery.dataTables.js" %}?v={{ VERSION }}"></script>
    <script src="{% static "lib/js/bootstrap-treeview.js" %}?v={{ VERSION }}"></script>
    <script src="{% static "lib/js/bootstrap-tokenfield.js" %}?v={{ VERSION }}"></script>
    <script src="{% static "lib/js/fastselect.standalone.js" %}?v={{ VERSION }}"></script>
    <script src="{% static "lib/js/select2.full.js" %}?v={{ VERSION }}"></script>
    <script src="{% static "lib/js/jquery.timeago.js" %}?v={{ VERSION }}"></script>
    <script src="{% static "lib/js/jq-ajax-progress.js" %}?v={{ VERSION }}"></script>
    <script src="{% static "lib/js/jquery-ui.js" %}?v={{ VERSION }}"></script>
    <script src="{% static "lib/js/jquery.raty.js" %}?v={{ VERSION }}"></script>
    <script src="{% static "lib/js/bootstrap.js" %}?v={{ VERSION }}"></script>
    <script src="{% static "lib/js/moment-with-locales.js" %}?v={{ VERSION }}"></script>
    <script src="{% static "lib/js/bootstrap-datetimepicker.js" %}?v={{ VERSION }}"></script>
    <script src="{% static "lib/js/json2.js" %}?v={{ VERSION }}"></script>
    <script src="{% static "lib/js/waypoints.js" %}?v={{ VERSION }}"></script>

    <!-- Custom home opendata -->
    <script src="{% static "lib/js/popper.min.js" %}"></script>
    <script src="{% static "lib/js/jquery.magnific-popup.js" %}"></script>
    <script src="{% static "lib/js/owl.carousel.min.js" %}"></script>
    <script src="{% static "lib/js/jquery.easing.min.js" %}"></script>
    <script src="{% static "lib/js/custom.js" %}"></script>

    {% else %}
    <script src="{% static "lib/js/assets.min.js" %}?v={{ VERSION }}"></script>
    {% endif %}
    <script src="{% static "geonode/js/utils/utils.js" %}?v={{ VERSION }}"></script>
    <script src="{% static "geonode/js/base/base.js" %}?v={{ VERSION }}"></script>
    {% include 'autocomplete_light/static.html' %}
    <script type="text/javascript" src="{% url "javascript-catalog" %}"></script>
    {% block extra_script %}{% endblock extra_script %}
    <script type="text/javascript">
        var autocomplete = $('#search_input').yourlabsAutocomplete({
            url: '{% url "autocomplete_light_autocomplete" "ResourceBaseAutocomplete" %}',
            choiceSelector: 'span',
            hideAfter: 200,
            minimumCharacters: 1,
            placeholder: '{% trans 'Type your search here ...' %}',
            appendAutocomplete: $('#search_input'),
            autoHilightFirst: false
        });
        $('#search_input').bind('selectChoice', function(e, choice, autocomplete) {
            if(choice[0].children[0] == undefined) {
                $('#search_input').val($(choice[0]).text());
                $('#search').submit();
            }
        });
        $(".datepicker").datepicker({
            format: "yyyy-mm-dd"
        });
    </script>
    <script>
        // Workaround to fix the autocomplete box positions
        yourlabs.Autocomplete.prototype.fixPosition = function(html) {
            this.input.parents().filter(function() {
                return $(this).css('overflow') === 'hidden';
            }).first().css('overflow', 'visible');
            if(this.input.attr('name') !== 'resource-keywords'){
              this.box.insertAfter(this.input).css({top: 28, left: 0});
            }else{
              var pos = $.extend({}, this.input.position(), {
                height: this.input.outerHeight()
              });
              this.box.insertAfter(this.input).css({top: pos.top + pos.height, left: pos.left});
            }
        };
    </script>
    <script type="text/javascript" src="{% url "lang" %}"></script>

    <div class="modal fade" style="width: 100%; height: 100%;" id="_resource_uploading" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1>{% trans "Uploading..." %}</h1>
                </div>
                <div class="modal-body">
                    <div class="progress">
                      <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                        {% trans "Upload in progress..." %}
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" style="width: 100%; height: 100%;" id="_thumbnail_processing" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1>{% trans "Processing..." %}</h1>
                </div>
                <div class="modal-body">
                    <div class="progress">
                      <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                        {% trans "Updating Thumbnail..." %}
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="_thumbnail_feedbacks" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">{% trans "Message box" %}</h4>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "OK" %}</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
