{% extends "geonode_base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load base_tags %}

{% block title %} {% trans "Home" %} {{ block.super }} {% endblock %}

{% block body_class %}home{% endblock %}

{% block middle %}
  {{ block.super }}

	  {% block mainbody %}
	<style>
		.title-ellipsis {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		[v-cloak] {
			display: none;
		}
		.card-img[lazy="error"] {
            object-fit: cover;
        }

		.card-img[lazy="loaded"] {
            height: 250px;
            object-fit: cover;
        }

        .card-img[lazy="loading"] {
            object-fit: none;
        }
	</style>
	<!--::team part end::-->
	<section class="team_part">
		<div class="container">
			<div class="row">
				
			</div>
		</div>
		<img src="{{STATIC_URL}}home/img/section_overlay.png" alt="">
	</section>
	<!--::team part end::-->
	{% block showcase %}
	<!--::passion_part end::-->
	<div class="passion_part">
		<div class="container">
		   <div class="row">
			  <div class="col-lg-5">
				 <div class="section_tittle">
					<h1>{% trans "HCMGIS OpenData" %}<br>
					</h1>
					<span class="slogan" style="width: 500px; top: 70px;">{% trans "Data worth Sharing" %}</span>
				 </div>
			  </div>
		   </div>
		   <div class="row">
			{% with facet_type='home' %}
			{% facets as facets %}
			  <div class="col-md-6 col-lg-3">
				 <div class="single_passion">
					<div class="single_passion_item" style="height: 510px;">
						<a href="{% url "layer_browse" %}" class="passion_icon"> <i class="fa fa-square-o fa-4x rotate-45 center-block" style="margin-top: 20px;"></i> </a>
						<h4><a style="text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;" href="{% url "layer_browse" %}">{{ facets.layer|default:_("No") }} {% blocktrans count counter=facets.layer %}Layer{% plural %}Layers{% endblocktrans %}</a></h4>
						<p>{% trans "Click to search for geospatial data published by other users, organizations and public sources. Download data in standard formats." %}</p>
						{% if user.is_authenticated %}
						<p class="text-center">
							<a href="{% url "layer_upload" %}" class="btn_2">{% trans "Add layers" %} <span class="ti-arrow-right"></span></a>
						</p>
						{% else %}
						<p class="text-center">
							<a href="{% url "layer_browse" %}" class="btn_2">{% trans "Explore layers" %} <span class="ti-arrow-right"></span></a>
						</p>
						{% endif %}
					</div>
				 </div>
			  </div>
			  <div class="col-md-6 col-lg-3">
				 <div class="single_passion">
					<div class="single_passion_item" style="height: 510px;">
						<a href="{% url "maps_browse" %}" class="passion_icon"> <i class="fa fa-map-marker fa-4x" style="margin-top: 20px;"></i> </a>
						<h4><a style="text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;" href="{% url "maps_browse" %}">{{ facets.map|default:_("No") }} {% blocktrans count counter=facets.map %}Map{% plural %}Maps{% endblocktrans %}</a></h4>
						<p>{% trans "Data is available for browsing, aggregating and styling to generate maps which can be shared publicly or restricted to specific users only." %}</p>
						{% if user.is_authenticated %}
						<p class="text-center">
							<a href="{% url "new_map" %}" class="btn_2">{% trans "Create maps" %} <span class="ti-arrow-right"></span></a>
						</p>
						{% else %}
						<p class="text-center">
							<a href="{% url "maps_browse" %}" class="btn_2">{% trans "Explore maps" %} <span class="ti-arrow-right"></span></a>
						</p>
						{% endif %}
					</div>
				 </div>
			  </div>
			  <div class="col-md-6 col-lg-3">
				 <div class="single_passion">
					<div class="single_passion_item" style="height: 510px;">
						<a href="{% url "document_browse" %}" class="passion_icon"> <i class="fa fa-newspaper-o fa-4x" style="margin-top: 20px;"></i> </a>
						<h4><a style="text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;" href="{% url "document_browse" %}">{{ facets.document|default:_("No") }} {% blocktrans count counter=facets.document %}Document{% plural %}Documents{% endblocktrans %}</a></h4>
						<p>{% trans "Documents from basic to advanced in GIS, Remote Sensing and Computer Science (books, scientific papers,...) are collected from the Internet and contributed by the the users community." %}</p>
						{% if user.is_authenticated %}
						<p class="text-center">
							<a href="{% url "document_browse" %}" class="btn_2">{% trans "Add documents" %} <span class="ti-arrow-right"></span></a>
						</p>
						{% else %}
						<p class="text-center">
							<a href="{% url "document_browse" %}" class="btn_2">{% trans "Explore documents" %} <span class="ti-arrow-right"></span></a>
						</p>
						{% endif %}
					</div>
				 </div>
			  </div>
			  <div class="col-md-6 col-lg-3">
				 <div class="single_passion">
					<div class="single_passion_item" style="height: 510px;">
						<a href="{% url "profile_browse" %}" class="passion_icon"> <i class="fa fa-user fa-4x"  style="margin-top: 20px;"></i> </a>
						<h4><a style="text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;" href="{% url "profile_browse" %}">{{ facets.user|default:_("No") }} {% blocktrans count counter=facets.user %}User{% plural %}Users{% endblocktrans %}</a></h4>
						<p>{% trans "HCMGIS OpenData allows registered users (default user/password: guest/guest) to easily upload documents and geospatial data in several formats (Shapefile, GeoTiff,...)" %}</p>
						<a href="{% url "profile_browse" %}" class="btn_2">{% trans "See users" %} <span class="ti-arrow-right"></span></a>
					</div>
				 </div>
			  </div>
			{% endwith %}
		   </div>
		</div>
	</div>
	<!--::passion_part end::-->

	<!-- PointCloud-->
	<div class="apartment_part" id='PointCloudList' style="margin-bottom: 50px;" v-cloak>
		<div class="container">
			<div class="row justify-content-between align-content-center" style="margin-bottom: -35px;">
				<div class="col-md-8 col-lg-7">
					<div class="section_tittle">
						<a href="https://pointcloud.hcmgis.vn" target="_blank" style="text-decoration: none;">
							<h1>{% trans "HCMGIS Point Cloud" %} <br>
								<p style="font-size: 27px; font-weight: normal;"><i>{% trans "Your Point Cloud on the Cloud" %}</i></p>
								<span class="section_tittle_line" style="top: 100px;"></span>
							</h1>	
						</a>
					</div>
				</div>
				<div class="col-md-4 col-lg-5">
					<div class="view_more_btn float-right d-none d-md-block">
					
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-lg-4" v-for="item in items.points">
					<div class="single_appartment_part">
						<a :href="item.url" target="_blank">
							<div class="appartment_img">
								<img class="card-img" v-lazy="item.thumbnail" alt="">
								<div class="single_appartment_text">
									<p><span class="ti-location-pin"></span> HCMGIS</p>
								</div>
							</div>
						</a>
						<div class="single_appartment_content">
							<a href="" class="love_us"> <span class="ti-heart"></span> </a>
							<p> [[ item.author ]]</p>
							<a :href="item.url" target="_blank">
								<h4 class="title-ellipsis"> [[ item.title ]]</h4>
							</a>
							<ul class="list-unstyled">
								<li><span class="ti-eye" title="Views"></span> [[ item.count_view ]]</li>
								<li><span class="ti-download" title="Downloads"></span> [[ item.count_download ]]</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-lg-7">
					<div class="view_more_btn float-right d-none d-md-block">
					<a href="https://pointcloud.hcmgis.vn" target="_blank" class="btn_2">{% trans "View more" %} <span class="ti-arrow-right"></span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- PointCloud end -->

	<!-- GeoTags-->
	<div class="apartment_part" id='GeoTagList' style="margin-bottom: 50px;" v-cloak>
		<div class="container">
			<div class="row justify-content-between align-content-center" style="margin-bottom: -35px;">
				<div class="col-md-8 col-lg-7">
					<div class="section_tittle">
						<a href="https://geotag.hcmgis.vn" target="_blank" style="text-decoration: none;">
							<h1>{% trans "HCMGIS GeoTag" %} <br>
								<p style="font-size: 27px; font-weight: normal;"><i>{% trans "The Beauty of Where" %}</i></p>
								<span class="section_tittle_line" style="top: 100px;"></span>
							</h1>	
						</a>
					</div>
				</div>
				<div class="col-md-4 col-lg-5">
					<div class="view_more_btn float-right d-none d-md-block">
					
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-lg-4" v-for="item in items.images">
					<div class="single_appartment_part">
						<a :href="item.url" target="_blank">
							<div class="appartment_img">
								<img class="card-img" v-lazy="item.image" alt="">
								<div class="single_appartment_text">
									<p><span class="ti-location-pin"></span> HCMGIS</p>
								</div>
							</div>
						</a>
						<div class="single_appartment_content">
							<a href="" class="love_us"> <span class="ti-heart"></span> </a>
							<p> [[ item.author ]]</p>
							<a :href="item.url" target="_blank">
								<h4 class="title-ellipsis"> [[ item.name ]]</h4>
							</a>
							<ul class="list-unstyled">
								<li><span class="ti-eye" title="Views"></span> [[ item.viewed ]]</li>
								<li><span class="ti-download" title="Downloads"></span> [[ item.downloaded ]]</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-lg-7">
					<div class="view_more_btn float-right d-none d-md-block">
					<a href="https://geotag.hcmgis.vn" target="_blank" class="btn_2">{% trans "View more" %} <span class="ti-arrow-right"></span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- GeoTag end -->

	<!-- HCMGIS Events -->
	<div class="apartment_part" id='GeoTagList'>
		<div class="container">
			<div class="row justify-content-between align-content-center" style="margin-bottom: -35px; margin-top: -50px;">
				<div class="col-md-8 col-lg-7">
					<div class="section_tittle">
						<a href="https://geoevents.hcmgis.vn/" target="_blank" style="text-decoration: none;">
							<h1>{% trans "HCMGIS GeoEvents" %}
								<p style="font-size: 27px; font-weight: normal;"><i>{% trans "Your Way to Events" %}</i></p>
								<span class="section_tittle_line" style="top: 100px;"></span>
							</h1>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-lg-5">
					<div class="view_more_btn float-right d-none d-md-block">
					
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-lg-4">
					<div class="single_appartment_part">
						<a href="https://geoevents.hcmgis.vn/events/viewevents?id=51" target="_blank">
							<div class="appartment_img">
								<img src="https://geoevents.hcmgis.vn/uploads/e92434fc8e227c753d717f9cfa230b2c02-04-2021-2-52-04-ch.jpg" alt="" style="height: 250px;object-fit: cover;">
								<div class="single_appartment_text">
									<p><span class="ti-location-pin"></span> Nha Trang</p>
								</div>
							</div>
						</a>
						<div class="single_appartment_content">
							<a href="" class="love_us"> <span class="ti-heart"></span> </a>
							<p> 2021-09-17, 15:00:00</p>
							<a href="https://geoevents.hcmgis.vn/events/viewevents?id=51" target="_blank">
								<h4 class="title-ellipsis"> VnExpress Marathon Marvelous Nha Trang 2021</h4>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-lg-4">
					<div class="single_appartment_part">
						<a href="https://geoevents.hcmgis.vn/events/viewevents?id=48" target="_blank">
							<div class="appartment_img">
								<img src="https://geoevents.hcmgis.vn/uploads/960bd928259f76092dac5990b8d340fc1234.jpg" alt="" style="height: 250px;object-fit: cover;">
								<div class="single_appartment_text">
									<p><span class="ti-location-pin"></span> Hà Nội</p>
								</div>
							</div>
						</a>
						<div class="single_appartment_content">
							<a href="" class="love_us"> <span class="ti-heart"></span> </a>
							<p> 2021-10-24, 07:15:00</p>
							<a href="https://geoevents.hcmgis.vn/events/viewevents?id=48" target="_blank">
								<h4 class="title-ellipsis"> VPBANK Hanoi Marathon 2021</h4>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-lg-4">
					<div class="single_appartment_part">
						<a href="https://geoevents.hcmgis.vn/events/viewevents?id=47" target="_blank">
							<div class="appartment_img">
								<img src="https://geoevents.hcmgis.vn/uploads/53879c3d8a0126d429ff82241ec9d4616002425a6a6ab.png" alt="" style="height: 250px;object-fit: cover;">
								<div class="single_appartment_text">
									<p><span class="ti-location-pin"></span> Hạ Long</p>
								</div>
							</div>
						</a>
						<div class="single_appartment_content">
							<a href="" class="love_us"> <span class="ti-heart"></span> </a>
							<p> 2021-08-01, 14:15:00</p>
							<a href="https://geoevents.hcmgis.vn/events/viewevents?id=47" target="_blank">
								<h4 class="title-ellipsis"> VnExpress Marathon Ha Long</h4>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-lg-4">
					<div class="single_appartment_part">
						<a href="https://geoevents.hcmgis.vn/events/viewevents?id=46" target="_blank">
							<div class="appartment_img">
								<img src="https://geoevents.hcmgis.vn/uploads/c55881b50c353591800d0fae5a5afa1dbieyio-can-tho-heritage-marathon.jpg" alt="" style="height: 250px;object-fit: cover;">
								<div class="single_appartment_text">
									<p><span class="ti-location-pin"></span> Cần Thơ</p>
								</div>
							</div>
						</a>
						<div class="single_appartment_content">
							<a href="" class="love_us"> <span class="ti-heart"></span> </a>
							<p> 2021-12-05, 14:15:00</p>
							<a href="https://geoevents.hcmgis.vn/events/viewevents?id=46" target="_blank">
								<h4 class="title-ellipsis"> Can Tho Heritage Marathon</h4>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-lg-4">
					<div class="single_appartment_part">
						<a href="https://geoevents.hcmgis.vn/events/viewevents?id=45" target="_blank">
							<div class="appartment_img">
								<img src="https://geoevents.hcmgis.vn/uploads/993f14469ede827273ae45ed885fd8bfriversedge1.jpg" alt="" style="height: 250px;object-fit: cover;">
								<div class="single_appartment_text">
									<p><span class="ti-location-pin"></span> Minnesota</p>
								</div>
							</div>
						</a>
						<div class="single_appartment_content">
							<a href="" class="love_us"> <span class="ti-heart"></span> </a>
							<p> 2021-09-22, 14:00:00</p>
							<a href="https://geoevents.hcmgis.vn/events/viewevents?id=45" target="_blank">
								<h4 class="title-ellipsis"> 31st Annual Conference and Workshops</h4>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-lg-4">
					<div class="single_appartment_part">
						<a href="https://geoevents.hcmgis.vn/events/viewevents?id=44" target="_blank">
							<div class="appartment_img">
								<img src="https://geoevents.hcmgis.vn/uploads/971e91ac4480687893d97dd8a5ea1dcf20171125-hcmcmarathon-309.jpg" alt="" style="height: 250px;object-fit: cover;">
								<div class="single_appartment_text">
									<p><span class="ti-location-pin"></span> Thủ thiêm</p>
								</div>
							</div>
						</a>
						<div class="single_appartment_content">
							<a href="" class="love_us"> <span class="ti-heart"></span> </a>
							<p> 2021-04-10, 08:00:00</p>
							<a href="https://geoevents.hcmgis.vn/events/viewevents?id=44" target="_blank">
								<h4 class="title-ellipsis"> The 4th edition of the Techcombank Ho Chi Minh City International Marathon</h4>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-lg-7">
					<div class="view_more_btn float-right d-none d-md-block">
					<a href="https://geoevents.hcmgis.vn/" target="_blank" class="btn_2">{% trans "View more" %} <span class="ti-arrow-right"></span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- HCMGIS Events end -->

	<!-- HCMGIS ELearning -->
	<div class="apartment_part" id='ElearningList' style="margin-bottom: 50px;" v-cloak>
		<div class="container">
			<div class="row justify-content-between align-content-center" style="margin-bottom: -35px;">
				<div class="col-md-8 col-lg-7">
					<div class="section_tittle">
						<a href="https://daotao.hcmgis.vn/" target="_blank" style="text-decoration: none;">
							<h1>{% trans "HCMGIS ELearning" %}
								<span class="section_tittle_line" style="top: 55px;"></span>
							</h1>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-lg-5">
					<div class="view_more_btn float-right d-none d-md-block">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-lg-4"  v-for="(item, index) in items.courses" v-if="index < 6">
					<div class="single_appartment_part">
						<a :href="item.url" target="_blank">
							<div class="appartment_img">
								<img class="card-img" v-lazy="item.image" alt="">
								<div class="single_appartment_text">
									<p><span class="ti-location-pin"></span> HCMGIS ELearning</p>
								</div>
							</div>
						</a>
						<div class="single_appartment_content">
							<a href="" class="love_us"> <span class="ti-heart"></span> </a>
							<p> [[ item.startdate ]]</p>
							<a :href="item.url" target="_blank">
								<h4 class="title-ellipsis"> [[ item.name ]]</h4>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-lg-7">
					<div class="view_more_btn float-right d-none d-md-block">
					<a href="https://daotao.hcmgis.vn/" target="_blank" class="btn_2">{% trans "View more" %} <span class="ti-arrow-right"></span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- HCMGIS ELearning end -->
	{% endblock showcase %}
	

    {% block partners %}
        {% if custom_theme.partners.all %}
        <section id="partners">
			<div class="container text-center">
			<h2>{{ custom_theme.partners_title|default:_("Our partners") }}</h2>
			<div class="row">
				{% for partner in custom_theme.partners.all %}
				<div class="col-md-2">
					<a style="font-size: 12px" href="{{ partner.partner_link|safe }}" target="_blank">
					{% if partner.logo %}
					<div class="partner_logo" style="background-image: url({{partner.logo.url}})">
					{% else %}
					{{ partner.title|safe }}
					{% endif %}
					</div>
					</a>
				</div>
				{% endfor %}
			</div>
			</div>
        </section>
        {% endif %}
    {% endblock partners %}

    {% block cookielawinfo %}
      	{% if custom_theme.cookie_law_info_bar_enabled %}
        <div id="cookie-law-info-bar">
			<h5 class="cli_messagebar_head">{{ custom_theme.cookie_law_info_bar_head }}</h5>
			<span>{{ custom_theme.cookie_law_info_bar_text|safe }}
				<a data-cli_action="accept" id="cookie_action_close_header" target="_blank"  class="medium cli-plugin-button cli-plugin-main-button cookie_action_close_header cli_action_button" style="display:inline-block; ">{% trans "Accept" %}</a>
				<a id="cookie_action_close_header_reject" class="medium cli-plugin-button cli-plugin-main-button cookie_action_close_header_reject cli_action_button"  data-cli_action="reject">{% trans "Reject" %}</a>
				<a id="CONSTANT_OPEN_URL" href='{{ custom_theme.cookie_law_info_leave_url }}' class="medium cli-plugin-button cli-plugin-main-button" style="display:inline-block;">{% trans "Leave" %}</a>
			</span>
        </div>
        <div id="cookie-law-info-again" style="display:none;">
            <span id="cookie_hdr_showagain">{{ custom_theme.cookie_law_info_showagain_head }}</span>
        </div>
		<div class="cli-modal-backdrop cli-fade cli-settings-overlay"></div>
		<div class="cli-modal-backdrop cli-fade cli-popupbar-overlay"></div>
		<script type="text/javascript">
			/* <![CDATA[ */
			cli_cookiebar_settings='{"animate_speed_hide":"{{custom_theme.cookie_law_info_animate_speed_hide}}","animate_speed_show":"{{custom_theme.cookie_law_info_animate_speed_show}}","background":"{{custom_theme.cookie_law_info_background}}","border":"{{custom_theme.cookie_law_info_border}}","border_on":{{custom_theme.cookie_law_info_border_on}},"button_1_button_colour":"{{custom_theme.cookie_law_info_button_1_button_colour}}","button_1_button_hover":"{{custom_theme.cookie_law_info_button_1_button_hover}}","button_1_link_colour":"{{custom_theme.cookie_law_info_button_1_link_colour}}","button_1_as_button":{{custom_theme.cookie_law_info_button_1_as_button}},"button_1_new_win":{{custom_theme.cookie_law_info_button_1_new_win}},"button_2_button_colour":"{{custom_theme.cookie_law_info_button_2_button_colour}}","button_2_button_hover":"{{custom_theme.cookie_law_info_button_2_button_hover}}","button_2_link_colour":"{{custom_theme.cookie_law_info_button_2_link_colour}}","button_2_as_button":{{custom_theme.cookie_law_info_button_2_as_button}},"button_2_hidebar":{{custom_theme.cookie_law_info_button_2_hidebar}},"button_3_button_colour":"{{custom_theme.cookie_law_info_button_3_button_colour}}","button_3_button_hover":"{{custom_theme.cookie_law_info_button_3_button_hover}}","button_3_link_colour":"{{custom_theme.cookie_law_info_button_3_link_colour}}","button_3_as_button":{{custom_theme.cookie_law_info_button_3_as_button}},"button_3_new_win":{{custom_theme.cookie_law_info_button_3_new_win}},"button_4_button_colour":"{{custom_theme.cookie_law_info_button_4_button_colour}}","button_4_button_hover":"{{custom_theme.cookie_law_info_button_4_button_hover}}","button_4_link_colour":"{{custom_theme.cookie_law_info_button_4_link_colour}}","button_4_as_button":{{custom_theme.cookie_law_info_button_4_as_button}},"font_family":"{{custom_theme.cookie_law_info_font_family}}","header_fix":{{custom_theme.cookie_law_info_header_fix}},"notify_animate_hide":{{custom_theme.cookie_law_info_notify_animate_hide}},"notify_animate_show":{{custom_theme.cookie_law_info_notify_animate_show}},"notify_div_id":"{{custom_theme.cookie_law_info_notify_div_id}}","notify_position_horizontal":"{{custom_theme.cookie_law_info_notify_position_horizontal}}","notify_position_vertical":"{{custom_theme.cookie_law_info_notify_position_vertical}}","scroll_close":{{custom_theme.cookie_law_info_scroll_close}},"scroll_close_reload":{{custom_theme.cookie_law_info_scroll_close_reload}},"accept_close_reload":{{custom_theme.cookie_law_info_accept_close_reload}},"reject_close_reload":{{custom_theme.cookie_law_info_reject_close_reload}},"showagain_tab":{{custom_theme.cookie_law_info_showagain_tab}},"showagain_background":"{{custom_theme.cookie_law_info_showagain_background}}","showagain_border":"{{custom_theme.cookie_law_info_showagain_border}}","showagain_div_id":"{{custom_theme.cookie_law_info_showagain_div_id}}","showagain_x_position":"{{custom_theme.cookie_law_info_showagain_x_position}}","text":"{{custom_theme.cookie_law_info_text}}","show_once_yn":{{custom_theme.cookie_law_info_show_once_yn}},"show_once":"{{custom_theme.cookie_law_info_show_once}}","logging_on":{{custom_theme.cookie_law_info_logging_on}},"as_popup":{{custom_theme.cookie_law_info_as_popup}},"popup_overlay":{{custom_theme.cookie_law_info_popup_overlay}},"bar_heading_text":"{{custom_theme.cookie_law_info_bar_heading_text}}","cookie_bar_as":"{{custom_theme.cookie_law_info_cookie_bar_as}}","popup_showagain_position":"{{custom_theme.cookie_law_info_popup_showagain_position}}","widget_position":"{{custom_theme.cookie_law_info_widget_position}}"}';
			/* ]]> */
		</script>
      	{% endif %}
    {% endblock cookielawinfo %}
{% endblock mainbody %}

{% endblock middle %}

{% block extra_script %}
{{ block.super }}
{% if DEBUG_STATIC %}
<script src="{% static "lib/js/angular.js" %}"></script>
{% endif %}
<script type="text/javascript">
    FEATURED_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='featured' %}'
    'use strict';
    (function(){
      var module = angular.module('featured', []);
      module.run(function($http, $rootScope){
		$http.get(FEATURED_URL).then(successCallback, errorCallback);

		function successCallback(data) {
			//success code
          $rootScope.featured = data.data.objects;
		};

		function errorCallback(error) {
			//error code
		};
      });
    })();
</script>
<script>
	$('[data-toggle="tooltip"]').tooltip({container: 'body'});
</script>
<script type='text/javascript'>
/* <![CDATA[ */
var Cli_Data = {"nn_cookie_ids":[],"cookielist":[]};
/* ]]> */
</script>
<script type="text/javascript" src="{% static "geonode/js/cookie-law-info/cookie-law-info-public.js" %}"></script>
<script type="text/javascript">
    Vue.use(VueLazyload, {
        preLoad: 1.3,
        error: '{% static "home/loading.gif" %}',
        loading: '{% static "home/loading.gif" %}',
        attempt: 1,
        listenEvents: [ 'scroll' ]
    })
</script>
<script type="text/javascript">
	var GeoTagVue = new Vue ({
		delimiters : ['[[',']]'],
		el: '#GeoTagList',
		data: {
			items: []
		},
		mounted: function () {
			var self = this;
        $.ajax({
            url: 'https://geotag.hcmgis.vn/cms/api/image/get-images',
			method: 'POST',
			// contentType: "application/json",
            success: function (data) {
                if(data.status == true){
					self.items = JSON.parse(JSON.stringify(data));
				}
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
});
</script>
<script type="text/javascript">
	var ElearningVue = new Vue ({
		delimiters : ['[[',']]'],
		el: '#ElearningList',
		data: {
			items: []
		},
		mounted: function () {
			var self = this;
        $.ajax({
            url: 'https://daotao.hcmgis.vn/trang-chu/cms/api/course/get-courses',
			method: 'POST',
			// contentType: "application/json",
            success: function (data) {
                if(data.status == true){
					self.items = JSON.parse(JSON.stringify(data));
				}
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
});
</script>
<script type="text/javascript">
	var PointCloudVue = new Vue ({
		delimiters : ['[[',']]'],
		el: '#PointCloudList',
		data: {
			items: []
		},
		mounted: function () {
			var self = this;
        $.ajax({
            url: 'https://pointcloud.hcmgis.vn/api/point-cloud/get-list',
			method: 'POST',
			// contentType: "application/json",
            success: function (data) {
                if(data.status == true){
					self.items = JSON.parse(JSON.stringify(data));
				}
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
});
</script>
{% endblock extra_script %}
