<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width">

	<title>Monaco Editor</title>

	<link data-inline="yes-please" href="./lib/bootstrap-cosmo.css" rel="stylesheet">
	<link data-inline="yes-please" href="./lib/bootstrap-responsive.min.css" rel="stylesheet">
	<link data-inline="yes-please" href="./all.css" rel="stylesheet">
	<link data-inline="yes-please" href="./index/index.css" rel="stylesheet">

	<link data-name="./min/vs/editor/editor.main" rel="stylesheet" href="./min/vs/editor/editor.main.css">
</head>

<body>
	<pre data-preload="./index/samples/sample.typescript.txt"></pre>
	<pre data-preload="./index/samples/diff.lhs.txt"></pre>
	<pre data-preload="./index/samples/diff.rhs.txt"></pre>
	<a id="gh-link" href="https://github.com/Microsoft/monaco-editor"><img
		width="149" height="149" alt="Fork me on GitHub" src="./fork.png"/></a>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<div class="logo">
					<a href="index.html">Monaco Editor</a>
				</div>
				<!-- collapse button for smaller screens -->
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<!-- navbar title -->
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li><a class="nav-item" href="index.html">Home</a></li>
						<li><a class="nav-item" href="api/index.html">API Doc</a></li>
						<li><a class="nav-item" href="playground.html">Playground</a></li>
						<li><a class="nav-item" href="monarch.html">Monarch</a></li>
						<li><a class="nav-item" target="_blank" href="https://registry.npmjs.org/monaco-editor/-/monaco-editor-{{version}}.tgz">Download {{version}}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<section class="try">
		<div class="container">
			<h3>About</h3>
			<div class="row">
				<div class="span12">
					<br/>
					<p>The Monaco Editor is the code editor that powers <a href="https://github.com/Microsoft/vscode">VS Code</a>.
					A good page describing the code editor's features is <a href="https://code.visualstudio.com/docs/editor/editingevolved">here</a>.</p>

					<p>It is licensed under the MIT License and supports IE 11, Edge, Chrome, Firefox, Safari and Opera.</p>

					<p>The Monaco editor is <span style="font-weight:bold;color:#ff5722;">not</span> supported in mobile browsers or mobile web frameworks. </p>

					<p>Find more information at the <a href="https://github.com/Microsoft/monaco-editor">Monaco Editor repo</a>.</p>
				</div>
			</div>
			<hr/>
			<h3>Download v{{version}}</h3>
			<div class="row">
				<div class="span12">
					<br/>
					<p>The latest released version is <strong>{{version}}</strong>.</p>
					<p>Download with this direct <a target="_blank" href="https://registry.npmjs.org/monaco-editor/-/monaco-editor-{{version}}.tgz">download link</a>
					or <a href="https://www.npmjs.com/package/monaco-editor">from npm</a>:</p>
					<pre style="color:black">npm install monaco-editor@{{version}}</pre>
				</div>
			</div>
			<hr/>
			<h3>Editor</h3>
			<div class="editor row">
				<div class="span3">
					<h4 title="Syntax colorization plus support for errors, warnings, IntelliSense, formatting and outlining">Rich IntelliSense, Validation</h4>
					<p>TypeScript, JavaScript, CSS, LESS, SCSS, JSON, HTML</p>
					<br>
					<h4 title="Syntax colorization">Basic Syntax Colorization</h4>
					<p>XML, PHP, C#, C++, Razor, Markdown, Diff, Java, VB, CoffeeScript, Handlebars, Batch, Pug, F#, Lua, Powershell,
						Python, Ruby, SASS, R, Objective-C</p>
					<br>
					<p>Colorizers are implemented using <a href="monarch.html"
						target="_blank">Monarch</a>.</p>
				</div>
				<div class="span9">
					<div class="row">
						<div class="span4">
							<label class="control-label">Language</label>
							<select class="language-picker"></select>
						</div>
						<div class="span4">
							<label class="control-label">Theme</label>
							<select class="theme-picker">
								<option>Visual Studio</option>
								<option>Visual Studio Dark</option>
								<option>High Contrast Dark</option>
							</select>
						</div>
					</div>
					<div class="editor-frame">
						<div class="loading editor" style="display: none;">
							<div class="progress progress-striped active">
								<div class="bar"></div>
							</div>
						</div>
						<div id="editor"></div>
					</div>
				</div>
			</div>
			<hr>
			<h3>Diff Editor</h3>
			<div class="editor row">
				<div class="span3">
					<h4 title="As you type diffing for all supported languages">Side by side live comparison</h4>
					<p>Supports all languages out of the box</p>
				</div>
				<div class="span9">
					<div class="row">
						<div class="span8">
							<div class="checkbox">
								<label class="control-label">
									<input id="inline-diff-checkbox" type="checkbox" value=""> Inline diff
								</label>
							</div>
						</div>
					</div>
					<div class="editor-frame">
						<div class="loading diff-editor" style="display: none;">
							<div class="progress progress-striped active">
								<div class="bar"></div>
							</div>
						</div>
						<div id="diff-editor"></div>
					</div>
				</div>
			</div>
		</div>

	</section>

	<footer class="container">
		<hr>
		<p class="text-center">
			<a href="https://microsoft.com" title="Microsoft">
				<img src="https://opensource.microsoft.com/img/microsoft.png" alt="Microsoft" style="max-height:23px;margin-bottom:12px;">
			</a>
			<br/>
			<small>&copy; {{year}} Microsoft</small>
		</p>
	</footer>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js" integrity="sha256-wS9gmOZBqsqWxgIVgA8Y9WcQOa7PgSIX+rPA0VL2rbQ=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.0/bootstrap.min.js" integrity="sha256-u+l2mGjpmGK/mFgUncmMcFKdMijvV+J3odlDJZSNUu8=" crossorigin="anonymous"></script>

	<script>var require = { paths: { 'vs': './min/vs' } };</script>
	<script src="./min/vs/loader.js"></script>
	<script src="./min/vs/editor/editor.main.nls.js"></script>
	<script src="./min/vs/editor/editor.main.js"></script>
	<script data-inline="yes-please" src="./index/index.js"></script>

</body>
</html>
