{% load i18n avatar_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>HCMGIS OpenData - Geospatial Open Data Sharing Platform</title>
    <meta name="description" content="HCMGIS OpenData - Geospatial Open Data Sharing Platform">
    <meta name="keywords" content="Open Data, OpenData, opendata, open data">
    <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}trangchu/favicon/favicon.ico"/>
    {% block head %}

      <link href="{{ STATIC_URL }}trangchu/css/bootstrap.min.css" rel="stylesheet">
      <link href="{{ STATIC_URL }}trangchu/css/jquery.fancybox.css" rel="stylesheet"> 
      <link href="{{ STATIC_URL }}trangchu/css/flexslider.css" rel="stylesheet"> 
      <link href="{{ STATIC_URL }}trangchu/css/style.css" rel="stylesheet">

      <!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="{{ STATIC_URL }}msource/global_assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="{{ STATIC_URL }}msource/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="{{ STATIC_URL }}msource/assets/css/core.min.css" rel="stylesheet" type="text/css">
	<link href="{{ STATIC_URL }}msource/assets/css/components.min.css" rel="stylesheet" type="text/css">
	<link href="{{ STATIC_URL }}msource/assets/css/colors.min.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script src="{{ STATIC_URL }}msource/global_assets/js/plugins/loaders/pace.min.js"></script>
	<script src="{{ STATIC_URL }}msource/global_assets/js/core/libraries/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}msource/global_assets/js/core/libraries/bootstrap.min.js"></script>
	<script src="{{ STATIC_URL }}msource/global_assets/js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="{{ STATIC_URL }}msource/global_assets/js/plugins/visualization/d3/d3.min.js"></script>
	<script src="{{ STATIC_URL }}msource/global_assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
	<script src="{{ STATIC_URL }}msource/global_assets/js/plugins/forms/styling/switchery.min.js"></script>
	<script src="{{ STATIC_URL }}msource/global_assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
	<script src="{{ STATIC_URL }}msource/global_assets/js/plugins/ui/moment/moment.min.js"></script>
	<script src="{{ STATIC_URL }}msource/global_assets/js/plugins/pickers/daterangepicker.js"></script>

	<script src="{{ STATIC_URL }}msource/assets/js/app.js"></script>
	<script src="{{ STATIC_URL }}msource/global_assets/js/demo_pages/dashboard.js"></script>

  <script src="{{ STATIC_URL }}msource/global_assets/js/plugins/ui/ripple.min.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159114891-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-159114891-1');
  </script>
	<!-- /theme JS files -->

      <!-- {% if DEBUG_STATIC %}
      <link href="{{ STATIC_URL }}lib/css/jquery.dataTables.css?v={{ VERSION }}" rel="stylesheet" />
      <link href="{{ STATIC_URL }}lib/css/select2.css?v={{ VERSION }}" rel="stylesheet"/>
      <link href="{{ STATIC_URL }}lib/css/bootstrap.min.css?v={{ VERSION }}" rel="stylesheet"/>
      <link href="{{ STATIC_URL }}lib/css/jquery-ui.css?v={{ VERSION }}" rel="stylesheet"/>
      <link href="{{ STATIC_URL }}lib/css/bootstrap-datetimepicker.css?v={{ VERSION }}" rel="stylesheet"/>
      {% else %}
      <link href="{{ STATIC_URL }}lib/css/assets.min.css?v={{ VERSION }}" rel="stylesheet"/>
      {% endif %}
      <link href="{{ STATIC_URL }}geonode/css/ext-compatibility.css?v={{ VERSION }}" rel="stylesheet" />
      <link href="{{ STATIC_URL }}geonode/css/base.css?v={{ VERSION }}" rel="stylesheet" />
      <style type="text/css">[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}</style> -->
      {% block extra_head %}
      {% endblock %}
    {% endblock %}
    <!--[if IE]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <style>
        #ieflag{
            display: block !important;
            height: 150px;
            text-align: center;
        }
      </style>
    <![endif]-->
    <link rel="search" type="application/opensearchdescription+xml" href="/catalogue/opensearch" title="GeoNode Search"/>
  </head>
  
  <body class="{% block body_class %}{% endblock %}"></body>


    
    {% block header %}
    <div id="wrapper" class="home-page">
      <div class="topbar">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p class="pull-left">
                <i class="fa fa-phone"></i>
                <span>Tel No. (+0283) 932 0963</span>
              </p>
              <li class="pull-right" style="margin-right: 25px; min-width: 30px; min-height: 25px; display: inline-block;">
                <a data-lan='vi' href='#' class='a-change-language' style=' min-width: 30px; min-height: 25px; display: inline-block;background: url({{ STATIC_URL }}trangchu/img/ico-vn.png)no-repeat 5px 4px;'></a>
              </li>
              <li class="pull-right" style="margin-right: -60px; min-width: 30px; min-height: 25px; display: inline-block;">
                <a data-lan='en' href='#' class='a-change-language' style='min-width: 30px; min-height: 25px; display: inline-block;background: url({{ STATIC_URL }}trangchu/img/ico-en.png)no-repeat 5px 4px;'></a>
              </li>
              <p class="pull-right">
                <i class="fa fa-edit"></i>
                <span>
                  <a style="color: white; margin-right: 10px; text-decoration: none;" href="/documents/tutorial/">{% trans "TUTORIAL" %}</a>
                </span>
              </p>
            </div> 
          </div>
        </div>
      </div>
      <!-- start header -->
	<header>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="text-transform: none;" href="{% url "home" %}"><img src="{{ STATIC_URL }}trangchu/img/logo.png" alt="logo">HCMGIS OpenData</a>
            </div>
            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav">
                  {% block tabs %}
                  <li>
                    <form id="search" action="{% url "search" %}" class="search-form">
                        <div class="input-group" style="margin-top: 12px; width: 300px;">
                        {% if HAYSTACK_SEARCH %}
                        <input id="search_input" type="text" placeholder="Search" class="form-control fa fa-search" name="q">
                        {% else %}
                        <input id="search_input" type="text" placeholder="Search" class="form-control" name="title__icontains">
                        {% endif %}
                        </div>
                      </form>
                  </li>
                  <li id="nav_layers">
                    <a href="{% url "layer_browse" %}">{% trans "Layers" %}</a>
                  </li>
                  <li id="nav_maps">
                    <a href="{% url "maps_browse" %}">{% trans "Maps" %}</a>
                  </li>
                  <li id="nav_documents">
                    <a href="{% url "document_browse" %}">{% trans "Documents" %}</a>
                  </li>
                 {% block extra_tab %}
                 {% endblock %}
                  <li id="nav_people">
                    <a href="{% url "profile_browse" %}">{% trans "People" %}</a>
                  </li>
                  <li id="nav_groups">
                    <a href="{% url "group_list" %}">{% trans "Groups" %}</a>
                  </li>
                  <li id="nav_contacts">
                    <a href="https://hcmgis.vn/contact-us/" target="_blank">{% trans "CONTACT" %}</a>
                  </li>
                  {% endblock %}
                  {% if not user.is_authenticated and REGISTRATION_OPEN %}
                  <li><a href="{% url "account_signup" %}">{% trans "Register" %}</a></li>
                  {% endif %}
                  {% if user.is_authenticated %}
                  <li>
                    <a href="#" data-toggle="modal" data-target="#UserModal" role="button" aria-expanded="false">
                      {% avatar user 30 %} {{ user.username }}
                    </a>
                  </li>
                  {% else %}
                  <li>
                    <a href="#" data-toggle="modal" data-target="#SigninModal" role="button" >
                      {% trans "Sign in" %} 
                    </a>
                  </li>
                  {% endif %}
                </ul>
                
            </div>
        </div>
    </div>
</header>
<!-- end header -->
    {% endblock header %}

    <div class="alert alert-danger alert-dismissible" role="alert" id="ieflag" style="display:none">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h1>You are using an outdated browser that is not supported by GeoNode.</h1>
      <p>Please use a <strong>modern browser</strong> like Mozilla Firefox, Google Chrome or Safari.</p>
    </div>

  <div id="wrap">
    {% block middle %}
    <div class="container">
      {% include "_status_message.html" %}
      {% include "_announcements.html" %}
      {% include "_messages.html" %}
      {% block body_outer %}
      <div class="row">
        {% block content_msource %}{% endblock %}
        <div class="col-md-8">
        {% block body %}{% endblock %}
        </div>
        <div class="col-md-4">
        {% block sidebar %}{% endblock %}
        </div>
      </div>
      {% endblock %}
    </div>
    {% endblock middle %}
  </div>
    
    {% block footer %}
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="widget">
              <h5 class="widgetheading">HCMGIS</h5>
              <address>
              <strong>{% trans "Center for Applied GIS of Ho Chi Minh City (HCMGIS) focuses on consulting, developing, training and transferring GIS solutions and applications in urban management, natural resources and environment, and economic-cultural-social development." %}</strong>
              </address>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="widget">
              <h5 class="widgetheading">{% trans "QUICK LINKS" %}</h5>
              <ul class="link-list">
                <li><a href="https://hcmgis.vn/" target="_blank">HCMGIS</a></li>
                <li><a href="https://portal.hcmgis.vn" target="_blank">HCMGIS Portal</a></li>
                <li><a href="https://maps.hcmgis.vn/maps" target="_blank">HCMGIS Maps</a></li>
                <li><a href="https://geosurvey.hcmgis.vn/" target="_blank">HCMGIS GeoSurvey</a></li>
                <li><a href="https://georeference.hcmgis.vn/" target="_blank">HCMGIS GeoReference</a></li>
                <li><a href="https://storymaps.hcmgis.vn" target="_blank">HCMGIS StoryMaps</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="widget">
              <h5 class="widgetheading">{% trans "CONTACT" %}</h5>
              <ul class="link-list">
                <li><a >{% trans "Office: 244 Dien Bien Phu Street, Ward 7, District 3, Ho Chi Minh City" %}</a></li>
                <li><a >{% trans "Tel: (+84)283 9320963 – Fax: (+84)283 9320963" %}</a></li>
                <li><a >Email: gis.skhcn@tphcm.gov.vn</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="sub-footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="copyright">
                <p>
                  <span>{% trans "&copy; 2018" %} </span><a href="https://hcmgis.vn" target="_blank"> HCMGIS</a>
                </p>
              </div>
            </div>
            <div class="col-lg-4">
              <ul class="social-network">
                <li><a href="https://www.facebook.com/hcmgis/" data-placement="top" title="Facebook" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/hcmgis" data-placement="top" title="Twitter" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/company/hcmgis/" data-placement="top" title="Linkedin" data-original-title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCO6q72gcyv94q0xu-SQ_4jA" data-placement="top" title="Youtube" data-original-title="Youtube"><i class="fa fa-youtube"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <a href="#" id="backtotop" title="Back to top"></a>
      </footer>
    {% endblock footer %}


    <!-- Modal must stay outside the navbar -->
    {% if not user.is_authenticated %}
    <div class="modal fade" id="SigninModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">{% trans "Sign in" %}</h4>
          </div>
          <form class="form-signin" role="form" action="{% url "account_login" %}?next={{ request.path }}" method="post">
            <div class="modal-body">
              {% csrf_token %}
              <div class="form-group">
                <label for="id_username" class="sr-only">{% trans "Username" %}:</label>
                <input id="id_username" class="form-control" name="username" placeholder="{% trans "Username" %}" type="text" />
              </div>
              <div class="form-group">
                <label for="id_password" class="sr-only">{% trans "Password" %}:</label>
                <input id="id_password" class="form-control" name="password" placeholder="Password" type="password" />
              </div>
              <label class="checkbox">
                <input type="checkbox" /> {% trans "Remember Me" %}
              </label>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary btn-block">{% trans "Sign in" %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% else %}
    <div class="modal fade" id="UserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">{% trans "Menu" %}</h4>
          </div>
          <div class="modal-body">
            <ul class="list-unstyled">
              <li><a href="{% url "layer_upload" %}"><i class="fa fa-cloud-upload"></i> {% trans "Upload Layers" %}</a></li>
              <li class="modal-divider"></li>
              <li><a href="{{ user.get_absolute_url }}"><i class="fa fa-user"></i> {% trans "Profile" %}</a></li>
              <li><a href="{% url "recent-activity" %}"><i class="fa fa-fire"></i> {% trans "Recent Activity" %}</a></li>
              <li><a href="{% url "messages_inbox" %}"><i class="fa fa-inbox"></i> {% trans "Inbox" %}</a></li>
              {% if USE_NOTIFICATIONS %}
                <li><a href="{% url "notification_notice_settings" %}"><i class="fa fa-bell"></i> {% trans "Notifications" %}</a></li>
              {% endif %}
              {% if perms.announcements.can_manage %}
              <li><a href="{% url "announcements_list" %}"><i class="fa fa-bullhorn"></i> {% trans "Announcements" %}</a></li>
              {% endif %}
              {% if user.is_superuser %}
              <li><a href="{% url "services" %}"><i class="fa fa-globe"></i> {% trans "Remote Services" %}</a></li>
              <li><a href="{% url "account_invite_user" %}"><i class="fa fa-edit"></i> {% trans "Invite User" %}</a></li>
              <li class="modal-divider"></li>
              <li><a href="{{ GEOSERVER_BASE_URL }}"><i class="fa fa-gears"></i> {% trans "GeoServer" %}</a></li>
              {% endif %}
              {% if user.is_staff %}
              <li><a href="{% url "admin:index" %}"><i class="fa fa-cog"></i> {% trans "Admin" %}</a></li>
              {% endif %}
              {% block extra_user_menu %}
              {% endblock %}
              <li class="modal-divider"></li>
              <li><a title="Help" rel="tooltip" href="/help/"><i class="fa fa-question-circle"></i> {% trans "Help" %}</a></li>
            </ul>
          </div>
          <div class="modal-footer">
            <form action="{% url "account_logout" %}" id="logout_form" method="post">
              {% csrf_token %}
              <a class="btn btn-warning btn-block" href="javascript:{}" onclick="document.getElementById('logout_form').submit();">{% trans "Log out" %}</a>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <!-- End of Modal -->
    <!-- javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


    {% if DEBUG_STATIC %}
    <script src="{{ STATIC_URL }}lib/js/jquery.min.js?v={{ VERSION }}"></script>
    <script src="{{ STATIC_URL }}lib/js/jquery.dataTables.js?v={{ VERSION }}"></script>
    <script src="{{ STATIC_URL }}lib/js/jquery.timeago.js?v={{ VERSION }}"></script>
    <script src="{{ STATIC_URL }}lib/js/jquery.ajaxprogress.js?v={{ VERSION }}"></script>
    <script src="{{ STATIC_URL }}lib/js/jquery.ajaxQueue.js?v={{ VERSION }}"></script>
    <script src="{{ STATIC_URL }}lib/js/jquery-ui.custom.js?v={{ VERSION }}"></script>
    <script src="{{ STATIC_URL }}lib/js/jquery.raty.js?v={{ VERSION }}"></script>
    <script src="{{ STATIC_URL }}lib/js/bootstrap.min.js?v={{ VERSION }}"></script>
    <script src="{{ STATIC_URL }}lib/js/moment-with-locales.min.js?v={{ VERSION }}"></script>
    <script src="{{ STATIC_URL }}lib/js/bootstrap-datetimepicker.min.js?v={{ VERSION }}"></script>
    <script src="{{ STATIC_URL }}lib/js/json2.js?v={{ VERSION }}"></script>
    <script src="{{ STATIC_URL }}lib/js/select2.js?v={{ VERSION }}"></script>
    <script src="{{ STATIC_URL }}lib/js/waypoints.js?v={{ VERSION }}"></script>
    {% else %}
    <script src="{{ STATIC_URL }}lib/js/assets.min.js?v={{ VERSION }}"></script>
    {% endif %}
    <script src="{{ STATIC_URL }}geonode/js/utils/utils.js?v={{ VERSION }}"></script>
    <script src="{{ STATIC_URL }}geonode/js/base/base.js?v={{ VERSION }}"></script>
    {% include 'autocomplete_light/static.html' %}

    {% block extra_script %}{% endblock extra_script %}
    <script type="text/javascript">
        var autocomplete = $('#search_input').yourlabsAutocomplete({
            url: '{% url "autocomplete_light_autocomplete" "ResourceBaseAutocomplete" %}',
            choiceSelector: 'span',
            hideAfter: 200,
            minimumCharacters: 1,
            placeholder: '{% trans 'Type your search here ...' %}',
            appendAutocomplete: $('#search_input'),
            autoHilightFirst: false
        });
        $('#search_input').bind('selectChoice', function(e, choice, autocomplete) {
            if(choice[0].children[0] == undefined) {
                $('#search_input').val($(choice[0]).text());
                $('#search').submit();
            }
        });
    </script>
    <script>
        // Workaround to fix the autocomplete box positions
        yourlabs.Autocomplete.prototype.fixPosition = function(html) {
            this.input.parents().filter(function() {
                return $(this).css('overflow') === 'hidden';
            }).first().css('overflow', 'visible');
            if(this.input.attr('name') !== 'resource-keywords'){
              this.box.insertAfter(this.input).css({top: 0, left: 0});
            }else{
              var pos = $.extend({}, this.input.position(), {
                height: this.input.outerHeight()
              });
              this.box.insertAfter(this.input).css({top: pos.top + pos.height, left: pos.left});
            }
        };
    </script>
    <script type="text/javascript" src="{% url "lang" %}"></script>
    <!--Flag language vn and en -->
    <script>
        $(document).ready(function() {
          $('.a-change-language').on('click', function() {
            var _this = $(this);
            var _lan = $(this).attr('data-lan');
            var data = {
              language: _lan,
              csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            }
            $.ajax({
              url: '/i18n/setlang/',
              type: 'POST',
              enctype: 'multipart/form-data',
              data: data,
              success: function() {
                window.location.href = '';
              }
            })
          })
        });
      </script>
      <!-- Animation button backtotop jquery -->
      <script>
          if ($('#backtotop').length) {
            var scrollTrigger = 100, // px
                backToTop = function () {
                    var scrollTop = $(window).scrollTop();
                    if (scrollTop > scrollTrigger) {
                        $('#backtotop').addClass('show');
                    } else {
                        $('#backtotop').removeClass('show');
                    }
                };
            backToTop();
            $(window).on('scroll', function () {
                backToTop();
            });
            $('#backtotop').on('click', function (e) {
                e.preventDefault();
                $('html,body').animate({
                    scrollTop: 0
                }, 700);
            });
        }
      </script>
      <!--
      <script type="text/javascript">
        if (window.location.protocol == "http:") {
            var restOfUrl = window.location.href.substr(5);
            window.location = "https:" + restOfUrl;
        }
      </script>
      -->
  </body>
</html>
