{% load i18n avatar_tags %}
{% load static from staticfiles %}
{% load account socialaccount %}
{% load base_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HCMGIS OpenData - Geospatial Open Data Sharing Platform</title>
  <meta name="description" content="HCMGIS OpenData - Geospatial Open Data Sharing Platform">
  <meta name="keywords" content="Open Data, OpenData, opendata, open data">
  <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="{{ STATIC_URL }}msource/global_assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="{{ STATIC_URL }}msource/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="{{ STATIC_URL }}msource/assets/css/core.min.css" rel="stylesheet" type="text/css">
	<link href="{{ STATIC_URL }}msource/assets/css/components.min.css" rel="stylesheet" type="text/css">
	<link href="{{ STATIC_URL }}msource/assets/css/colors.min.css" rel="stylesheet" type="text/css">
  <!-- /global stylesheets -->
  <!-- Msource library -->
  <link rel="stylesheet" data-name="vs/editor/editor.main" href="{{ STATIC_URL }}msource/monaco-editor/vs/editor/editor.main.css">
  <!-- End msource library -->

	<!-- Core JS files -->
	<script src="{{ STATIC_URL }}msource/global_assets/js/plugins/loaders/pace.min.js"></script>
	<script src="{{ STATIC_URL }}msource/global_assets/js/core/libraries/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}msource/global_assets/js/core/libraries/bootstrap.min.js"></script>
	<script src="{{ STATIC_URL }}msource/global_assets/js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="{{ STATIC_URL }}msource/global_assets/js/plugins/visualization/d3/d3.min.js"></script>
	<script src="{{ STATIC_URL }}msource/global_assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
	<script src="{{ STATIC_URL }}msource/global_assets/js/plugins/forms/styling/switchery.min.js"></script>
	<script src="{{ STATIC_URL }}msource/global_assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
	<script src="{{ STATIC_URL }}msource/global_assets/js/plugins/ui/moment/moment.min.js"></script>
  <script src="{{ STATIC_URL }}msource/global_assets/js/plugins/pickers/daterangepicker.js"></script>
  
  <script src="{{ STATIC_URL }}msource/global_assets/js/core/libraries/jquery_ui/interactions.min.js"></script>
  <script src="{{ STATIC_URL }}msource/global_assets/js/plugins/forms/selects/select2.min.js"></script>

  <script src="{{ STATIC_URL }}msource/assets/js/app.js"></script>
  <script src="{{ STATIC_URL }}msource/global_assets/js/demo_pages/form_select2.js"></script>
  
	<script src="{{ STATIC_URL }}msource/global_assets/js/demo_pages/dashboard.js"></script>

  <script src="{{ STATIC_URL }}msource/global_assets/js/plugins/ui/ripple.min.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159114891-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-159114891-1');
  </script>
  <!-- /theme JS files -->
  
  <!-- Script codemirror -->

  <!-- End codemirror -->
</head>
<body class="navbar-bottom sidebar-xs">
  <!-- Main navbar -->
    <div class="navbar navbar-inverse bg-slate-700 navbar-component" style="position: relative; z-index: 26;">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><img style="margin-top: -8px; height: 30px;" src="/static/home/img/opendata3.png" alt=""></a>

        <ul class="nav navbar-nav pull-right visible-xs-block">
          <li><a data-toggle="collapse" data-target="#navbar-navigation-icons"><i class="icon-menu2"></i></a></li>
        </ul>
      </div>

      <div class="navbar-collapse collapse" id="navbar-navigation-icons">
        <ul class="nav navbar-nav">
          <li><a href="/layers/" class="legitRipple">Layer</a></li>
          <li><a href="/layers/" class="legitRipple">Maps</a></li>
          <li><a href="/layers/" class="legitRipple">Documents</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle legitRipple" data-toggle="dropdown">Pages <span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="https://pointcloud.hcmgis.vn/" target="_blank">HCMGIS PointCloud</a>
              <li><a href="https://geotag.hcmgis.vn/" target="_blank">HCMGIS GeoTag</a></li>
              <li><a href="https://geoevents.hcmgis.vn/" target="_blank">HCMGIS GeoEvents</a></li>
              <li><a href="https://daotao.hcmgis.vn/" target="_blank">HCMGIS Elearning</a></li>
              <li><a href="/msource/list-view/">HCMGIS SourceSharing</a></li>
            </ul>
          </li>
          <li><a href="https://hcmgis.vn/contact-us/" target="_blank">Contact Us</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="icon-user"></i> {{ user.username }} 
              <span class="visible-xs-inline-block position-right"></span>
              <span class="caret"></span>
            </a>
            
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="/msource/my-source?id={{user.id}}">My source</a></li>
              <li><a href="{{SITEURL}}account/logout/">Log out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  <!-- /main navbar -->
  <!-- Page container -->
  <div class="page-container" style="margin-top: -20px;">
    <!-- Page content -->
    <div class="page-content">
    <!-- Main sidebar -->
      <div class="sidebar sidebar-main sidebar-default">
        <div class="sidebar-content">
          <!-- Main navigation -->
          <div class="sidebar-category sidebar-category-visible">
            <div class="category-title h6">
              <span>Main navigation</span>
              <ul class="icons-list">
                <li><a href="#" data-action="collapse"></a></li>
              </ul>
            </div>
            <div class="category-content no-padding">
              <ul class="navigation navigation-main navigation-accordion">
                <!-- Main -->
                <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
                <li><a href="/msource/create/"><i class="icon-file-plus"></i> <span>Create new source</span></a></li>
                <li><a href="/msource/list-view/"><i class="icon-list2"></i> <span>Source</span></a></li>
                <!-- /main -->
              </ul>
            </div>
          </div>
          <!-- /main navigation -->
        </div>
      </div>
      <!-- /main sidebar -->
      <div class="col-md-12">
        {% block messages %}
        {% if messages %}
        <div id="user_messages">
            {% for message in messages %}
            <div class="alert alert-block announcement {% if message.tags %}alert-{{message.tags}}{% else %}alert-warning{% endif %}">
                <a type="button" class="close" data-dismiss="alert" data-dismiss-url="#" href="#">×</a>
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            </div>
            {% endfor %}
        </div>
        {% endif %}
      {% endblock messages %}
      </div>
      <div class="content-wrapper">
        {% block content_msource %}
        {% endblock %}
      </div>
    </div>
  </div>
</body>
</html>