
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HCMGIS OpenData - Geospatial Open Data Sharing Platform</title>
  <meta name="description" content="HCMGIS OpenData - Geospatial Open Data Sharing Platform">
  <meta name="keywords" content="Open Data, OpenData, opendata, open data">

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="{{ STATIC_URL }}msource/global_assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="{{ STATIC_URL }}msource/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="{{ STATIC_URL }}msource/assets/css/core.min.css" rel="stylesheet" type="text/css">
	<link href="{{ STATIC_URL }}msource/assets/css/components.min.css" rel="stylesheet" type="text/css">
	<link href="{{ STATIC_URL }}msource/assets/css/colors.min.css" rel="stylesheet" type="text/css">
  <!-- /global stylesheets -->
  <!-- Msource library -->
  <link href="{{ STATIC_URL }}msource/codemirror/codemirror.css" rel="stylesheet" data-name="vs/editor/editor.main">
  <link rel="stylesheet" href="{{ STATIC_URL }}msource/codemirror/addon/scroll/simplescrollbars.css">

  <link rel="stylesheet" href="{{ STATIC_URL }}msource/codemirror/theme/3024-day.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}msource/codemirror/theme/3024-night.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}msource/codemirror/theme/abcdef.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}msource/codemirror/theme/ambiance.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}msource/codemirror/theme/ayu-dark.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}msource/codemirror/theme/ayu-mirage.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}msource/codemirror/theme/base16-dark.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}msource/codemirror/theme/bespin.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}msource/codemirror/theme/base16-light.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}msource/codemirror/theme/blackboard.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}msource/codemirror/theme/cobalt.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}msource/codemirror/theme/colorforth.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}msource/codemirror/theme/dracula.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}msource/codemirror/theme/duotone-dark.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}msource/codemirror/theme/duotone-light.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}msource/codemirror/theme/eclipse.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}msource/codemirror/theme/elegant.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}msource/codemirror/theme/erlang-dark.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}msource/codemirror/theme/gruvbox-dark.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}msource/codemirror/theme/hopscotch.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}msource/codemirror/theme/icecoder.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}msource/codemirror/theme/isotope.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}msource/codemirror/theme/lesser-dark.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}msource/codemirror/theme/liquibyte.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}msource/codemirror/theme/lucario.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}msource/codemirror/theme/material.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}msource/codemirror/theme/material-darker.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}msource/codemirror/theme/material-palenight.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}msource/codemirror/theme/material-ocean.css">

  <!-- Auto complete code -->
  <link rel="stylesheet" href="{{ STATIC_URL }}msource/codemirror/addon/hint/show-hint.css">
  
    
  <!-- End msource library -->

	<!-- Core JS files -->
	<script src="{{ STATIC_URL }}msource/global_assets/js/plugins/loaders/pace.min.js"></script>
	<script src="{{ STATIC_URL }}msource/global_assets/js/core/libraries/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}msource/global_assets/js/core/libraries/bootstrap.min.js"></script>
	<script src="{{ STATIC_URL }}msource/global_assets/js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="{{ STATIC_URL }}msource/global_assets/js/plugins/visualization/d3/d3.min.js"></script>
	<script src="{{ STATIC_URL }}msource/global_assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
	<script src="{{ STATIC_URL }}msource/global_assets/js/plugins/forms/styling/switchery.min.js"></script>
	<script src="{{ STATIC_URL }}msource/global_assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
	<script src="{{ STATIC_URL }}msource/global_assets/js/plugins/ui/moment/moment.min.js"></script>
	<script src="{{ STATIC_URL }}msource/global_assets/js/plugins/pickers/daterangepicker.js"></script>

	<script src="{{ STATIC_URL }}msource/assets/js/app.js"></script>
	<script src="{{ STATIC_URL }}msource/global_assets/js/demo_pages/dashboard.js"></script>

	<script src="{{ STATIC_URL }}msource/global_assets/js/plugins/ui/ripple.min.js"></script>
  <!-- /theme JS files -->
  
  <!-- Script codemirror -->
  <script src="{{ STATIC_URL }}msource/codemirror/codemirror.js"></script>
  <script src="{{ STATIC_URL }}msource/codemirror/addon/scroll/simplescrollbars.js"></script>

  <!-- Mode code -->
  <script src="{{ STATIC_URL }}msource/codemirror/addon/hint/show-hint.js"></script>
  <script src="{{ STATIC_URL }}msource/codemirror/addon/hint/javascript-hint.js"></script>
  <script src="{{ STATIC_URL }}msource/codemirror/mode/css/css.js"></script>
  <script src="{{ STATIC_URL }}msource/codemirror/mode/htmlmixed/htmlmixed.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159114891-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-159114891-1');
  </script>
  <!-- End codemirror -->
</head>
<body class="navbar-bottom sidebar-xs">
  <!-- Main navbar -->
	<div class="navbar navbar-inverse bg-indigo">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html"><img src="../../../../global_assets/images/logo_light.png" alt=""></a>

      <ul class="nav navbar-nav pull-right visible-xs-block">
        <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
        <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
      </ul>
    </div>
  </div>
  <!-- /main navbar -->
  <div class="page-header">
    {% block content_breadcrumb %}
    {% endblock %}
  </div>
  <!-- Page container -->
  <div class="page-container">
    <!-- Page content -->
    <div class="page-content">
    <!-- Main sidebar -->
      <div class="sidebar sidebar-main sidebar-default">
        <div class="sidebar-content">
          <!-- Main navigation -->
          <div class="sidebar-category sidebar-category-visible">
            <div class="category-title h6">
              <span>Main navigation</span>
              <ul class="icons-list">
                <li><a href="#" data-action="collapse"></a></li>
              </ul>
            </div>
            <div class="category-content no-padding">
              <ul class="navigation navigation-main navigation-accordion">
                <!-- Main -->
                <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
                <li><a href="/msource/create/"><i class="icon-file-plus"></i> <span>Create new source</span></a></li>
                <li><a href="/msource/my-source/"><i class="icon-list2"></i> <span>My source</span></a></li>
                <!-- /main -->
              </ul>
            </div>
          </div>
          <!-- /main navigation -->
        </div>
      </div>
      <!-- /main sidebar -->
      <div class="content-wrapper">
        {% block content_msource %}
        {% endblock %}
      </div>
    </div>
  </div>
</body>
</html>