{% extends "msource/base.html" %}
{% load i18n avatar_tags %}
{% block content_breadcrumb %}
<div class="breadcrumb-line">
	<ul class="breadcrumb">
		<li><a href="/"><i class="icon-home2 position-left"></i> Home</a></li>
		<li><a href="/msource/my-source/">My source</a></li>
		<li class="/msource/create/">Create</li>
	</ul>
</div>
{% endblock %}
{% block content_msource %}
{% if user.is_authenticated %}
<div class="col-md-12 no-padding">
	<!-- Form horizontal -->
	<div class="panel panel-flat">
		<div class="panel-body">
			<form class="form-horizontal" action="" method="post" onsubmit="return validateFormMSource()">
				{% csrf_token %}
				<fieldset class="content-group">
					<div class='col-md-12 no-padding'>
						<div class="col-md-2 no-padding">
							<div class="panel panel-flat">
								<div class="panel-heading">
									<h6 class="text-semibold">Source meta</h6>
									<div class="form-group">
										<div class="col-lg-10">
											<input type="text" class="form-control" name="title" id='title' value='' placeholder="No title...">
											<span id="alert_title" style="color:red;">
										</div>
									</div>
									<div class="form-group">
										<div class="col-lg-10">
											<input type="hidden" class="form-control" name="user" value="{{request.user.id}}">
										</div>
									</div>
									<div class="form-group">
										<div class="col-lg-10">
											<input type="text" id='descriptions' class="form-control" name="descriptions" value='' placeholder="No descriptions...">
											<span id="alert_descriptions" style="color:red;">
										</div>
									</div>
									<div class="form-group">
										<div class="col-lg-10">
											<input type="text" id='tag' class="form-control" name="tag" value='' placeholder="No tags...">
											<span id="alert_tag" style="color:red;">
										</div>
									</div>
									<div class="form-group">
										<div class="col-lg-10">
											<label class="text-semibold">Language: </label>
											<select id="language-picker" data-placeholder="Select language..." class="select-size-lg"> 
												<option value="c">c</option>
												<option value="cpp">cpp</option>
												<option value="csharp">csharp</option>
												<option value="css">css</option>
												<option value="dockerfile">dockerfile</option>
												<option value="html" selected>html</option>
												<option value="java">java</option>
												<option value="javascript">javascript</option>
												<option value="json">json</option>				
												<option value="mysql">mysql</option>
												<option value="pascal">pascal</option>
												<option value="pgsql">pgsql</option>
												<option value="php">php</option>
												<option value="python">python</option>
												<option value="ruby">ruby</option>
												<option value="scss">scss</option>
												<option value="sql">sql</option>
												<option value="xml">xml</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-10 no-padding">
							<div class="panel panel-flat">
								<div class="panel-heading">
									<div class="form-group">
										<div class="col-lg-12">
											<div id="container" style="float:left;width:100%;height: 478px;border: 1px solid grey;margin-top: -20px;"></div>
											<input type="hidden" class="form-control" name="content" value="" id="content">
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
					<div class="col-md-12 no-padding">
						<iframe id="preview" scrolling="yes" frameborder="0" onload="resizeIframe(this);" style="width: 100%; margin-top: -15px;"></iframe>
					</div>
				</fieldset>
				<div class="text-right">
					<button onclick="saveDataPost();" type="submit" class="btn btn-primary" >Save<i class="icon-arrow-right14 position-right"></i></button>
				</div>
			</form>
		</div>
	</div>
</div>
{% else %}
<div class="login-container">
	<!-- Page container -->
	<div class="page-container">
		<!-- Page content -->
		<div class="page-content">
			<!-- Main content -->
			<div class="content-wrapper">
				<!-- Simple login form -->
				<form class="form-signin" role="form" action="{% url "account_login" %}?next={{ request.path }}" method="post">
					{% csrf_token %}
					<div class="panel panel-body login-form">
						<div class="text-center">
							<div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
							<h5 class="content-group">Login to your account <small class="display-block">Enter your credentials below</small></h5>
						</div>

						<div class="form-group has-feedback has-feedback-left">
							<input id="id_username" type="text" class="form-control" placeholder="Username" name="login" />
							<div class="form-control-feedback">
								<i class="icon-user text-muted"></i>
							</div>
						</div>
						<div class="form-group has-feedback has-feedback-left">
							<input id="id_password" class="form-control" name="password" placeholder="{% trans "Password" %}" type="password" autocomplete="off" />
							<div class="form-control-feedback">
								<i class="icon-lock2 text-muted"></i>
							</div>
						</div>

						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-block">Sign in <i class="icon-circle-right2 position-right"></i></button>
						</div>

						<div class="text-center">
							<a href="{% url 'account_reset_password' %}">Forgot password?</a>
						</div>
					</div>
				</form>
				<!-- /simple login form -->
			</div>
		</div>
	</div>
</div>
{% endif %}
<script>var require = { paths: { 'vs': '{{ STATIC_URL }}msource/monaco-editor/vs' } };</script>
<script src="{{ STATIC_URL }}msource/monaco-editor/vs/loader.js"></script>
<script src="{{ STATIC_URL }}msource/monaco-editor/vs/editor/editor.main.nls.js"></script>
<script src="{{ STATIC_URL }}msource/monaco-editor/vs/editor/editor.main.js"></script>
<script>
	var delay;
	var editor = monaco.editor.create(document.getElementById('container'), {
		value: [
			'<html>',
			'\t<head>',
			'\t</head>',
			'\t<body>',
			'\t</body>',
			'</html>',
		].join('\n'),
		language: 'html',
		scrollbar: {
                vertical: 'auto',
                horizontal: 'auto'
            },
		theme: "vs-dark",
		automaticLayout: true,
	});
    var select = $('#language-picker');
    select.on('change', function() {
        let lan = select.val();
        let oldModel = editor.getModel();
        let newModel = monaco.editor.createModel(editor.getValue(), lan);
        if (oldModel) {
            editor.setModel(newModel);
            oldModel.dispose();
        }
	});
	function validateFormMSource(form) {
        var title = document.getElementById('title').value;
        var descriptions = document.getElementById('descriptions').value;
        var tag = document.getElementById('tag').value;

       if (title == '') {
            document.getElementById('alert_title').innerHTML="<i class='icon-notification2'></i> Enter title";
        }
        else if (descriptions == '') {
            document.getElementById('alert_descriptions').innerHTML="<i class='icon-notification2'></i> Enter descriptions";
        }
        else if (tag == '') {
            document.getElementById('alert_tag').innerHTML="<i class='icon-notification2'></i> Enter tag";
        }
        else {
            return true;
        }
        return false;
    }
	function saveDataPost() {
		// get the value of the data
		var value = editor.getValue() 
        $("#content").val(value);   
	}

	editor.onDidChangeModelContent(function() { 
        clearTimeout(delay);
        delay = setTimeout(updatePreview, 300);
    });

	function updatePreview() {
        var previewFrame = document.getElementById('preview');
        var preview =  previewFrame.contentDocument ||  previewFrame.contentWindow.document;
        preview.open();
        preview.write(editor.getValue());
        preview.close();
      }
	  setTimeout(updatePreview, 300);
	function resizeIframe(obj) {
        obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
    }
</script>
{% endblock %}