{% extends "msource/base.html" %}
{% load i18n avatar_tags %}
{% block content_breadcrumb %}
<div class="breadcrumb-line">
	<ul class="breadcrumb">
		<li><a href="/"><i class="icon-home2 position-left"></i> Home</a></li>
		<li><a href="/msource/my-source/">My source</a></li>
		<li class="/msource/create/">Create</li>
	</ul>
</div>
{% endblock %}
{% block content_msource %}
{% if user.is_authenticated %}
<div class="col-md-12 no-padding">
	<!-- Form horizontal -->
	<div class="panel panel-flat">
		<div class="panel-body">
			<form class="form-horizontal" action="" method="post">
				{% csrf_token %}
				<fieldset class="content-group">
					<div class='col-md-12 no-padding'>
						<div class="col-md-5 no-padding">
							<div class="panel panel-flat">
								<div class="panel-heading">
									<h6 class="panel-title">Info sources</h6>
									<div class="form-group">
										<label class="control-label col-lg-2 text-bold">Title</label>
										<div class="col-lg-10">
											<input type="text" class="form-control" name="title" id='title' value=''>
										</div>
									</div>
									<div class="form-group">
										<div class="col-lg-10">
											<input type="hidden" class="form-control" name="user" value="{{request.user.id}}">
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-lg-2 text-bold">Descriptions</label>
										<div class="col-lg-10">
											<input type="text" class="form-control" name="descriptions" value="">
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-lg-2 text-bold">Tag</label>
										<div class="col-lg-10">
											<input type="text" class="form-control" name="tag" value="">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-7 no-padding">
							<div class="panel panel-flat">
								<div class="panel-heading">
									<h6 class="panel-title">Content</h6>
									<p>Select a theme: <select onchange="selectTheme()" id=select>
										<option selected>default</option>
										<option>3024-day</option>
										<option>3024-night</option>
										<option>abcdef</option>
										<option>ambiance</option>
										<option>ayu-dark</option>
										<option>ayu-mirage</option>
										<option>base16-dark</option>
										<option>base16-light</option>
										<option>bespin</option>
										<option>blackboard</option>
										<option>cobalt</option>
										<option>colorforth</option>
										<option>darcula</option>
										<option>dracula</option>
										<option>duotone-dark</option>
										<option>duotone-light</option>
										<option>eclipse</option>
										<option>elegant</option>
										<option>erlang-dark</option>
										<option>gruvbox-dark</option>
										<option>hopscotch</option>
										<option>icecoder</option>
										<option>idea</option>
										<option>isotope</option>
										<option>lesser-dark</option>
										<option>liquibyte</option>
										<option>lucario</option>
										<option>material</option>
										<option>material-darker</option>
										<option>material-palenight</option>
										<option>material-ocean</option>
									</select></p>
									<div class="form-group">
										<div class="col-lg-12">
											<textarea id='codemirror' name="content" rows="6" class="form-control"></textarea>
										</div>
									</div>
									<div class="form-group">
										<div class="col-lg-12">
											<iframe id=preview></iframe>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</fieldset>
				<div class="text-right">
					<button type="submit" class="btn btn-primary">Create<i class="icon-arrow-right14 position-right"></i></button>
				</div>
			</form>
		</div>
	</div>
</div>
{% else %}
<div class="login-container">
	<!-- Page container -->
	<div class="page-container">
		<!-- Page content -->
		<div class="page-content">
			<!-- Main content -->
			<div class="content-wrapper">
				<!-- Simple login form -->
				<form class="form-signin" role="form" action="{% url "account_login" %}?next={{ request.path }}" method="post">
					{% csrf_token %}
					<div class="panel panel-body login-form">
						<div class="text-center">
							<div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
							<h5 class="content-group">Login to your account <small class="display-block">Enter your credentials below</small></h5>
						</div>

						<div class="form-group has-feedback has-feedback-left">
							<input id="id_username" type="text" class="form-control" placeholder="Username" name="login" />
							<div class="form-control-feedback">
								<i class="icon-user text-muted"></i>
							</div>
						</div>
						<div class="form-group has-feedback has-feedback-left">
							<input id="id_password" class="form-control" name="password" placeholder="{% trans "Password" %}" type="password" autocomplete="off" />
							<div class="form-control-feedback">
								<i class="icon-lock2 text-muted"></i>
							</div>
						</div>

						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-block">Sign in <i class="icon-circle-right2 position-right"></i></button>
						</div>

						<div class="text-center">
							<a href="{% url 'account_reset_password' %}">Forgot password?</a>
						</div>
					</div>
				</form>
				<!-- /simple login form -->
			</div>
		</div>
	</div>
</div>
{% endif %}
<script type="text/javascript">
	var delay;
	var editor = CodeMirror.fromTextArea(document.getElementById('codemirror'), {
    	lineNumbers: true,
		styleActiveLine: true,
		matchBrackets: true,
		mode: "text/html",
		scrollbarStyle: "simple",
		extraKeys: {"Ctrl-Space": "autocomplete"}
	});
	editor.on("change", function() {
        clearTimeout(delay);
        delay = setTimeout(updatePreview, 300);
    });

	var input = document.getElementById("select");
	function selectTheme() {
		var theme = input.options[input.selectedIndex].textContent;
		editor.setOption("theme", theme);
		location.hash = "#" + theme;
	}
	var choice = (location.hash && location.hash.slice(1)) ||
				(document.location.search &&
					decodeURIComponent(document.location.search.slice(1)));
	if (choice) {
		input.value = choice;
		editor.setOption("theme", choice);
	}
	CodeMirror.on(window, "hashchange", function() {
		var theme = location.hash.slice(1);
		if (theme) { input.value = theme; selectTheme(); }
	});

	function updatePreview() {
        var previewFrame = document.getElementById('preview');
        var preview =  previewFrame.contentDocument ||  previewFrame.contentWindow.document;
        preview.open();
        preview.write(editor.getValue());
        preview.close();
      }
      setTimeout(updatePreview, 300);
</script>
{% endblock %}