{% extends 'msource/base.html' %}
{% block content_msource %}
{% for detail in list_detail %}
<div class="col-md-12 no-padding">
	<!-- Form horizontal -->
	<div class="panel panel-flat">
		<div class="panel-body">
            <div class='col-md-12 no-padding'>
                <div class="col-md-2 no-padding">
                    <div class="panel panel-flat">
                        <div class="card mb-0">
                            <div class="thumb thumb-fixed">
                                <img src="https://www.tco-team.com/blog/wp-content/uploads/2019/01/the-most-popular-programming-languages-in-2018.jpg" alt="">
                            </div>
                            <h4 class="mb-0 text-center font-weight-bold">{{detail.title}}</h4>
                        </div>
                        <hr class="my-2">
                        <div class="address text-semibold mb-2" style="padding: 10px;">
                            <i class="icon-file-text2"></i> Descriptions: {{detail.descriptions}}
                        </div>
                        <div class="author text-semibold mb-2" style="padding: 10px;">
                            <i class="icon-users"></i> Author: {{detail.user.username}}
                        </div>
                        <div class="date text-semibold mb-2" style="padding: 10px;">
                            <i class="icon-calendar3"></i> Date: {{detail.date|default:'' |date:'h:m, d-m-Y'}}
                        </div>
                        <div class="tags text-semibold mb-2" style="padding: 10px;">
                            <i class="icon-price-tag2 mr-2"></i>
                            Tags: 
                            <a href="#" class="btn btn-info btn-rounded btn-sm legitRipple" style="text-transform: unset;">{{detail.tag}}</a>
                        </div>
                        <div class="views text-semibold mb-2" style="padding: 10px;">
                            <i class="icon-eye"></i> Views: {{detail.views}}
                        </div>
                        <div class="language text-semibold mb-2" style="padding: 10px;">
                            <i class="icon-file-text2 mr-2"></i>
                            Language:
                            <select id="language-picker" data-placeholder="Select language..." class="select-size-lg"> 
                                <option value="c">c</option>
                                <option value="cpp">cpp</option>
                                <option value="csharp">csharp</option>
                                <option value="css">css</option>
                                <option value="dockerfile">dockerfile</option>
                                <option value="html" selected>html</option>
                                <option value="java">java</option>
                                <option value="javascript">javascript</option>
                                <option value="json">json</option>				
                                <option value="mysql">mysql</option>
                                <option value="pascal">pascal</option>
                                <option value="pgsql">pgsql</option>
                                <option value="php">php</option>
                                <option value="python">python</option>
                                <option value="ruby">ruby</option>
                                <option value="scss">scss</option>
                                <option value="sql">sql</option>
                                <option value="xml">xml</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 no-padding">
                    <div class="panel-body">
                        <div id="container" style="float:left;width:100%;height: 478px;border: 1px solid grey;margin-top: -20px;"></div>
                        <input type="hidden" class="form-control" name="content" value="{{detail.content}}" id="content">
                    </div>
                </div>
            </div>
            <div class="col-md-12 no-padding">
                <div class="panel-body">
                    <iframe id="preview" scrolling="yes" frameborder="0" onload="resizeIframe(this);" style="width: 100%;margin-top: -40px;"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<script>var require = { paths: { 'vs': '{{ STATIC_URL }}msource/monaco-editor/vs' } };</script>
<script src="{{ STATIC_URL }}msource/monaco-editor/vs/loader.js"></script>
<script src="{{ STATIC_URL }}msource/monaco-editor/vs/editor/editor.main.nls.js"></script>
<script src="{{ STATIC_URL }}msource/monaco-editor/vs/editor/editor.main.js"></script>
<script>
	var delay;
    var content = document.getElementById("content").value;
	var editor = monaco.editor.create(document.getElementById('container'), {
		value: [
            content
		].join('\n'),
		language: 'html',
		scrollbar: {
                vertical: 'auto',
                horizontal: 'auto'
            },
		theme: "vs-dark",
		automaticLayout: true,
	});
    var select = $('#language-picker');
    select.on('change', function() {
        let lan = select.val();
        let oldModel = editor.getModel();
        let newModel = monaco.editor.createModel(editor.getValue(), lan);
        if (oldModel) {
            editor.setModel(newModel);
            oldModel.dispose();
        }
	});
	function saveDataPost() {
		// get the value of the data
		var value = editor.getValue() 
        $("#content").val(value);   
	}

	editor.onDidChangeModelContent(function() { 
        clearTimeout(delay);
        delay = setTimeout(updatePreview, 300);
    });

	function updatePreview() {
        var previewFrame = document.getElementById('preview');
        var preview =  previewFrame.contentDocument ||  previewFrame.contentWindow.document;
        preview.open();
        preview.write(editor.getValue());
        preview.close();
      }
	setTimeout(updatePreview, 300);

    function resizeIframe(obj) {
        obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
    }
</script>
{% endblock %}