{% extends 'msource/base.html' %}
{% block content_msource %}
<div class="col-md-12 no-padding">
        <h1><a href="#" >Manage Source <b><i class="icon-new-tab"></i></b></a> </h1>
        <div class="">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Manage</th>
                        <th>Title</th>
                        <th>User</th>
                        <th>Content</th>
                        <th>Tag</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for msource in list_msource %}
                    {% if msource.status == -1 %}
                    <tr style="color: #247FF8">
                        <td style="vertical-align: middle; text-align: center;">
                            <a title="Update source" href="/msource/update?id={{msource.id}}" class="text-primary btn btn-default">
                                <i class="icon-pencil7" aria-hidden="true"></i>
                            </a>
                            <a title="Show source" href="/msource/accept-msource?id={{msource.id}}" class="text-danger btn btn-default">
                                <i class="icon-transmission" aria-hidden="true"></i>
                            </a>
                            <a title="Detail source" href="/msource/detail?id={{msource.id}}" class="text-primary btn btn-default">
                                <i class="icon-eye4"></i>
                            </a>
                            <a title="Delete source" href="/msource/delete?id={{msource.id}}" class="text-danger btn btn-default">
                                <i class="icon-bin"></i>
                            </a>
                        </td>
                        <td style="text-transform: uppercase;">{{msource.title}}</td>
                        <td style="text-transform: uppercase;">{{msource.user.username}}</td>
                        <td>{{msource.descriptions|safe}}</td>
                        <td>{{msource.tag}}</td>
                        <td>{{msource.date}}</td>
                    </tr>
                    {% elif msource.status == 0 %}
                    <tr>
                        <td style="vertical-align: middle; text-align: center;">
                            <a title="Update source" href="/msource/update?id={{msource.id}}" class="text-primary btn btn-default">
                                <i class="icon-pencil7" aria-hidden="true"></i>
                            </a>
                            <a title="Show source" href="/msource/deny-msource?id={{msource.id}}" class="text-danger btn btn-default">
                                <i class="icon-transmission" aria-hidden="true"></i>
                            </a>
                            <a title="Detail source" href="{% url 'msource.views.detail_msource' msource.slug %}" class="text-primary btn btn-default">
                                <i class="icon-eye4"></i>
                            </a>
                            <a title="Delete source" href="/msource/delete?id={{msource.id}}" class="text-danger btn btn-default">
                                <i class="icon-bin"></i>
                            </a>
                        </td>
                        <td style="text-transform: uppercase;">{{msource.title}}</td>
                        <td style="text-transform: uppercase;">{{msource.user.username}}</td>
                        <td>{{msource.descriptions|safe}}</td>
                        <td>{{msource.tag}}</td>
                        <td>{{msource.date}}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}