{% extends 'msource/base.html' %}
{% block content_msource %}
<style>
    .title-ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<div class="col-md-12 no-padding">
    <div class="row">
        {% for msource in list_msource %}
        <div class="col-md-3">
            <div class="panel">
                <div class="panel-body">
                    <div class="thumb thumb-fixed">
                        <a href="{% url 'msource.views.detail_msource' msource.slug %}" data-popup="lightbox">
                            <img src="https://www.tco-team.com/blog/wp-content/uploads/2019/01/the-most-popular-programming-languages-in-2018.jpg" alt="">
                            <span class="zoom-image"><i class="icon-plus2"></i></span>
                        </a>
                    </div>
                </div>
                <div class="panel-body panel-body-accent text-center">
                    <h6 class="text-semibold no-margin"><a href="{% url 'msource.views.detail_msource' msource.slug %}" class="text-default title-ellipsis">{{msource.title}}</a></h6>
                    <p class="title-ellipsis">{{msource.descriptions}}</p>
                    <span class="text-left"><i class="icon-user"></i> {{msource.user.username}}</span>
                    <div class="text-muted"><i class="icon-eye"></i> {{msource.views}}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
